Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

feat: implement parallelism detection and control (Sub-Issue #142)
  dist/config/parallelism.d.ts
  dist/config/parallelism.d.ts.map
  dist/config/parallelism.js
  dist/config/parallelism.js.map
  dist/layers/discovery.d.ts.map
  dist/layers/discovery.js
  dist/layers/discovery.js.map
  dist/layers/discovery/ExecutionModeController.d.ts
  dist/layers/discovery/ExecutionModeController.d.ts.map
  dist/layers/discovery/ExecutionModeController.js
  dist/layers/discovery/ExecutionModeController.js.map
  dist/layers/discovery/ParallelismDetector.d.ts
  dist/layers/discovery/ParallelismDetector.d.ts.map
  dist/layers/discovery/ParallelismDetector.js
  dist/layers/discovery/ParallelismDetector.js.map
  dist/layers/discovery/ParallelismValidator.d.ts
  dist/layers/discovery/ParallelismValidator.d.ts.map
  dist/layers/discovery/ParallelismValidator.js
  dist/layers/discovery/ParallelismValidator.js.map
  src/__tests__/layers/discovery/ExecutionModeController.test.ts
  src/__tests__/layers/discovery/ParallelismDetector.test.ts
  src/__tests__/layers/discovery/ParallelismValidator.test.ts
  src/config/parallelism.ts
  src/layers/discovery.ts
  src/layers/discovery/ExecutionModeController.ts
  src/layers/discovery/ParallelismDetector.ts
  src/layers/discovery/ParallelismValidator.ts
Labels: tests, build

fix: address PR review comments for parallel execution
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ExecutionValidator.d.ts
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  dist/types/guards.js
  dist/types/guards.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/layers/execution/ExecutionValidator.test.ts
  src/__tests__/types/parallel-execution.test.ts
  src/layers/execution.ts
  src/layers/execution/ExecutionValidator.ts
  src/types/guards.ts
  src/types/index.ts
Labels: tests, build

feat: initial error recovery system for issue #127
  src/errors/ErrorHandler.ts
  src/errors/enhanced-errors.ts
Labels: none

feat: implement parallel plan generator for issue #143
  dist/errors/ErrorHandler.d.ts
  dist/errors/ErrorHandler.d.ts.map
  dist/errors/ErrorHandler.js
  dist/errors/ErrorHandler.js.map
  dist/errors/enhanced-errors.d.ts
  dist/errors/enhanced-errors.d.ts.map
  dist/errors/enhanced-errors.js
  dist/errors/enhanced-errors.js.map
  dist/layers/planning.d.ts.map
  dist/layers/planning.js
  dist/layers/planning.js.map
  dist/layers/planning/ParallelPlanGenerator.d.ts
  dist/layers/planning/ParallelPlanGenerator.d.ts.map
  dist/layers/planning/ParallelPlanGenerator.js
  dist/layers/planning/ParallelPlanGenerator.js.map
  dist/layers/planning/TechniqueDependencyAnalyzer.d.ts
  dist/layers/planning/TechniqueDependencyAnalyzer.d.ts.map
  dist/layers/planning/TechniqueDependencyAnalyzer.js
  dist/layers/planning/TechniqueDependencyAnalyzer.js.map
  src/__tests__/layers/planning/ParallelPlanGenerator.test.ts
  src/__tests__/layers/planning/TechniqueDependencyAnalyzer.test.ts
  src/layers/planning.ts
  src/layers/planning/ParallelPlanGenerator.ts
  src/layers/planning/TechniqueDependencyAnalyzer.ts
Labels: tests, build

chore: update dist files
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.d.ts
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.d.ts.map
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.js
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.js.map
Labels: build

perf: optimize performance for deep revision chains
  dist/core/MemoryAnalyzer.d.ts.map
  dist/core/MemoryAnalyzer.js
  dist/core/MemoryAnalyzer.js.map
  dist/core/insightStrategies.d.ts
  dist/core/insightStrategies.d.ts.map
  dist/core/insightStrategies.js
  dist/core/insightStrategies.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ExecutionResponseBuilder.d.ts.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  src/core/MemoryAnalyzer.ts
  src/core/insightStrategies.ts
  src/layers/execution.ts
  src/layers/execution/ExecutionResponseBuilder.ts
Labels: build

feat: implement comprehensive enhanced error recovery system (#127)
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  dist/errors/ErrorHandler.d.ts
  dist/errors/ErrorHandler.d.ts.map
  dist/errors/ErrorHandler.js
  dist/errors/ErrorHandler.js.map
  dist/errors/enhanced-errors.d.ts
  dist/errors/enhanced-errors.d.ts.map
  dist/errors/enhanced-errors.js
  dist/errors/enhanced-errors.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ExecutionValidator.d.ts
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  dist/persistence/filesystem-adapter.d.ts.map
  dist/persistence/filesystem-adapter.js
  dist/persistence/filesystem-adapter.js.map
  docs/error-recovery-guide.md
  docs/llm-error-handling.md
  src/__tests__/errors/ErrorHandler.test.ts
  src/__tests__/errors/enhanced-errors.test.ts
  src/__tests__/integration/error-recovery.test.ts
  src/__tests__/integration/llm-bypass-prevention.test.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/layered-tools.test.ts
  src/__tests__/layers/execution/ExecutionValidator.test.ts
  src/__tests__/layers/sessionIdHandling.test.ts
  src/__tests__/llm-workflow-validation.test.ts
  src/core/SessionManager.ts
  src/errors/ErrorHandler.ts
  src/errors/enhanced-errors.ts
  src/layers/execution.ts
  src/layers/execution/ExecutionValidator.ts
  src/persistence/filesystem-adapter.ts
Labels: documentation, tests, build

test: add comprehensive error code validation and regression tests
  src/__tests__/errors/error-code-regressions.test.ts
  src/__tests__/errors/error-code-validation.test.ts
Labels: tests

feat: implement enhanced error recovery system
  ERROR_CODES.md
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/errors/ErrorHandler.d.ts.map
  dist/errors/ErrorHandler.js
  dist/errors/ErrorHandler.js.map
  dist/errors/enhanced-errors.d.ts
  dist/errors/enhanced-errors.d.ts.map
  dist/errors/enhanced-errors.js
  dist/errors/enhanced-errors.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/errors/ErrorHandler.test.ts
  src/__tests__/errors/enhanced-errors.test.ts
  src/__tests__/errors/error-code-validation.test.ts
  src/__tests__/errors/workflow-bypass-errors.test.ts
  src/__tests__/integration/error-recovery.test.ts
  src/__tests__/integration/llm-bypass-prevention.test.ts
  src/__tests__/layered-tools.test.ts
  src/core/WorkflowGuard.ts
  src/errors/ErrorHandler.ts
  src/errors/enhanced-errors.ts
  src/server/RequestHandlers.ts
Labels: documentation, tests, build

fix: adjust performance test memory thresholds for CI environment
  src/__tests__/integration/performance.test.ts
Labels: tests

fix: improve pre-push hook to exclude test files properly
  .husky/pre-push
Labels: none

fix: remove hardcoded documentation URLs from error classes
  dist/errors/enhanced-errors.js
  dist/errors/enhanced-errors.js.map
  performance-results.json
  src/errors/enhanced-errors.ts
Labels: build

fix: update @typescript-eslint packages to support TypeScript 5.9.2
  package-lock.json
  package.json
Labels: dependencies, build

feat: implement convergence technique handler (#144)
  .zed/settings.json
  dist/layers/planning.js
  dist/layers/planning.js.map
  dist/techniques/ConvergenceHandler.d.ts
  dist/techniques/ConvergenceHandler.d.ts.map
  dist/techniques/ConvergenceHandler.js
  dist/techniques/ConvergenceHandler.js.map
  dist/techniques/TechniqueRegistry.d.ts.map
  dist/techniques/TechniqueRegistry.js
  dist/techniques/TechniqueRegistry.js.map
  src/__tests__/techniques/ConvergenceHandler.test.ts
  src/layers/planning.ts
  src/techniques/ConvergenceHandler.ts
  src/techniques/TechniqueRegistry.ts
Labels: tests, build

feat: implement convergence technique handler (#144) (#169)
  .zed/settings.json
  dist/layers/planning.js
  dist/layers/planning.js.map
  dist/techniques/ConvergenceHandler.d.ts
  dist/techniques/ConvergenceHandler.d.ts.map
  dist/techniques/ConvergenceHandler.js
  dist/techniques/ConvergenceHandler.js.map
  dist/techniques/TechniqueRegistry.d.ts.map
  dist/techniques/TechniqueRegistry.js
  dist/techniques/TechniqueRegistry.js.map
  src/__tests__/techniques/ConvergenceHandler.test.ts
  src/layers/planning.ts
  src/techniques/ConvergenceHandler.ts
  src/techniques/TechniqueRegistry.ts
Labels: tests, build

feat: implement LLM Handoff Bridge for flexible synthesis (Sub-Issue #145)
  dist/layers/execution/LLMHandoffBridge.d.ts
  dist/layers/execution/LLMHandoffBridge.d.ts.map
  dist/layers/execution/LLMHandoffBridge.js
  dist/layers/execution/LLMHandoffBridge.js.map
  dist/layers/execution/handoff/NextActionSuggester.d.ts
  dist/layers/execution/handoff/NextActionSuggester.d.ts.map
  dist/layers/execution/handoff/NextActionSuggester.js
  dist/layers/execution/handoff/NextActionSuggester.js.map
  dist/layers/execution/handoff/ResultStructures.d.ts
  dist/layers/execution/handoff/ResultStructures.d.ts.map
  dist/layers/execution/handoff/ResultStructures.js
  dist/layers/execution/handoff/ResultStructures.js.map
  dist/layers/execution/handoff/SynthesisPromptGenerator.d.ts
  dist/layers/execution/handoff/SynthesisPromptGenerator.d.ts.map
  dist/layers/execution/handoff/SynthesisPromptGenerator.js
  dist/layers/execution/handoff/SynthesisPromptGenerator.js.map
  dist/layers/execution/handoff/VisualizationGenerator.d.ts
  dist/layers/execution/handoff/VisualizationGenerator.d.ts.map
  dist/layers/execution/handoff/VisualizationGenerator.js
  dist/layers/execution/handoff/VisualizationGenerator.js.map
  dist/types/handoff.d.ts
  dist/types/handoff.d.ts.map
  dist/types/handoff.js
  dist/types/handoff.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  dist/types/index.js
  dist/types/index.js.map
  src/__tests__/layers/execution/LLMHandoffBridge.test.ts
  src/layers/execution/LLMHandoffBridge.ts
  src/layers/execution/handoff/NextActionSuggester.ts
  src/layers/execution/handoff/ResultStructures.ts
  src/layers/execution/handoff/SynthesisPromptGenerator.ts
  src/layers/execution/handoff/VisualizationGenerator.ts
  src/types/handoff.ts
  src/types/index.ts
Labels: tests, build

chore: update dist files
  dist/layers/execution/LLMHandoffBridge.d.ts.map
  dist/layers/execution/LLMHandoffBridge.js.map
  dist/layers/execution/handoff/ResultStructures.d.ts.map
  dist/layers/execution/handoff/ResultStructures.js.map
  dist/layers/execution/handoff/SynthesisPromptGenerator.d.ts.map
  dist/layers/execution/handoff/SynthesisPromptGenerator.js
  dist/layers/execution/handoff/SynthesisPromptGenerator.js.map
Labels: build

fix: optimize performance and improve type safety in LLM Handoff Bridge
  dist/layers/execution/LLMHandoffBridge.d.ts
  dist/layers/execution/LLMHandoffBridge.d.ts.map
  dist/layers/execution/LLMHandoffBridge.js
  dist/layers/execution/LLMHandoffBridge.js.map
  dist/layers/execution/handoff/ResultStructures.d.ts.map
  dist/layers/execution/handoff/ResultStructures.js
  dist/layers/execution/handoff/ResultStructures.js.map
  dist/layers/execution/handoff/SynthesisPromptGenerator.d.ts
  dist/layers/execution/handoff/SynthesisPromptGenerator.d.ts.map
  dist/layers/execution/handoff/SynthesisPromptGenerator.js
  dist/layers/execution/handoff/SynthesisPromptGenerator.js.map
  dist/layers/execution/handoff/VisualizationGenerator.d.ts
  dist/layers/execution/handoff/VisualizationGenerator.d.ts.map
  dist/layers/execution/handoff/VisualizationGenerator.js
  dist/layers/execution/handoff/VisualizationGenerator.js.map
  dist/layers/execution/handoff/constants.d.ts
  dist/layers/execution/handoff/constants.d.ts.map
  dist/layers/execution/handoff/constants.js
  dist/layers/execution/handoff/constants.js.map
  dist/layers/execution/handoff/typeGuards.d.ts
  dist/layers/execution/handoff/typeGuards.d.ts.map
  dist/layers/execution/handoff/typeGuards.js
  dist/layers/execution/handoff/typeGuards.js.map
  src/layers/execution/LLMHandoffBridge.ts
  src/layers/execution/handoff/ResultStructures.ts
  src/layers/execution/handoff/SynthesisPromptGenerator.ts
  src/layers/execution/handoff/VisualizationGenerator.ts
  src/layers/execution/handoff/constants.ts
  src/layers/execution/handoff/typeGuards.ts
Labels: build

chore: update remaining dist files
  dist/layers/execution/LLMHandoffBridge.d.ts.map
  dist/layers/execution/LLMHandoffBridge.js
  dist/layers/execution/LLMHandoffBridge.js.map
  dist/layers/execution/handoff/VisualizationGenerator.js.map
  dist/layers/execution/handoff/typeGuards.d.ts.map
  dist/layers/execution/handoff/typeGuards.js
  dist/layers/execution/handoff/typeGuards.js.map
Labels: build

feat: implement execution layer integration for parallel support (#147)
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ConvergenceExecutor.d.ts
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
  dist/layers/execution/ParallelErrorHandler.d.ts
  dist/layers/execution/ParallelErrorHandler.d.ts.map
  dist/layers/execution/ParallelErrorHandler.js
  dist/layers/execution/ParallelErrorHandler.js.map
  dist/layers/execution/ParallelStepExecutor.d.ts
  dist/layers/execution/ParallelStepExecutor.d.ts.map
  dist/layers/execution/ParallelStepExecutor.js
  dist/layers/execution/ParallelStepExecutor.js.map
  dist/layers/execution/ProgressCoordinator.d.ts
  dist/layers/execution/ProgressCoordinator.d.ts.map
  dist/layers/execution/ProgressCoordinator.js
  dist/layers/execution/ProgressCoordinator.js.map
  dist/utils/VisualFormatter.d.ts
  dist/utils/VisualFormatter.d.ts.map
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  src/__tests__/layers/execution/parallel-integration.test.ts
  src/layers/execution.ts
  src/layers/execution/ConvergenceExecutor.ts
  src/layers/execution/ParallelErrorHandler.ts
  src/layers/execution/ParallelStepExecutor.ts
  src/layers/execution/ProgressCoordinator.ts
  src/utils/VisualFormatter.ts
Labels: tests, build

fix: remove unnecessary comments and fix unused parameter handling
  dist/layers/execution/ParallelStepExecutor.d.ts
  dist/layers/execution/ParallelStepExecutor.d.ts.map
  dist/layers/execution/ParallelStepExecutor.js
  dist/layers/execution/ParallelStepExecutor.js.map
  src/layers/execution/ParallelStepExecutor.ts
Labels: build

fix: address PR #172 review feedback
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.d.ts
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.d.ts.map
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.js
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.js.map
  dist/layers/execution/ConvergenceExecutor.d.ts
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
  dist/layers/execution/ParallelErrorHandler.d.ts
  dist/layers/execution/ParallelErrorHandler.d.ts.map
  dist/layers/execution/ParallelErrorHandler.js
  dist/layers/execution/ParallelErrorHandler.js.map
  dist/layers/execution/ParallelStepExecutor.d.ts
  dist/layers/execution/ParallelStepExecutor.d.ts.map
  dist/layers/execution/ParallelStepExecutor.js
  dist/layers/execution/ParallelStepExecutor.js.map
  dist/layers/execution/ProgressCoordinator.d.ts
  dist/layers/execution/ProgressCoordinator.d.ts.map
  dist/layers/execution/ProgressCoordinator.js
  dist/layers/execution/ProgressCoordinator.js.map
  src/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.ts
  src/layers/execution.ts
  src/layers/execution/ConvergenceExecutor.ts
  src/layers/execution/ParallelErrorHandler.ts
  src/layers/execution/ParallelStepExecutor.ts
  src/layers/execution/ProgressCoordinator.ts
  src/layers/execution/__tests__/concurrency-safety.test.ts
  src/layers/execution/__tests__/edge-cases.test.ts
  src/layers/execution/__tests__/memory-cleanup.test.ts
Labels: tests, build

chore: update dist files
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
Labels: build

fix: update memory-cleanup.test.ts to use new parallel session API
  src/layers/execution/__tests__/memory-cleanup.test.ts
Labels: tests

fix: resolve lint errors and test failures
  src/layers/execution/__tests__/memory-cleanup.test.ts
Labels: tests

perf: fix performance regression and add JSON schema validation
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
  dist/layers/execution/ParallelExecutionContext.d.ts
  dist/layers/execution/ParallelExecutionContext.d.ts.map
  dist/layers/execution/ParallelExecutionContext.js
  dist/layers/execution/ParallelExecutionContext.js.map
  dist/layers/execution/ParallelStepExecutor.d.ts.map
  dist/layers/execution/ParallelStepExecutor.js
  dist/layers/execution/ParallelStepExecutor.js.map
  dist/layers/execution/schemas/parallelResultSchema.d.ts
  dist/layers/execution/schemas/parallelResultSchema.d.ts.map
  dist/layers/execution/schemas/parallelResultSchema.js
  dist/layers/execution/schemas/parallelResultSchema.js.map
  package-lock.json
  package.json
  performance-results.json
  src/__tests__/helpers/test-cleanup.ts
  src/layers/execution.ts
  src/layers/execution/ConvergenceExecutor.ts
  src/layers/execution/ParallelExecutionContext.ts
  src/layers/execution/ParallelStepExecutor.ts
  src/layers/execution/schemas/parallelResultSchema.ts
Labels: tests, dependencies, build

chore: update dist files
  dist/layers/execution/schemas/parallelResultSchema.js.map
Labels: build

test: add comprehensive test coverage for timeouts and race conditions
  dist/layers/execution/ParallelErrorHandler.d.ts
  dist/layers/execution/ParallelErrorHandler.d.ts.map
  dist/layers/execution/ParallelErrorHandler.js
  dist/layers/execution/ParallelErrorHandler.js.map
  dist/layers/execution/ParallelExecutionContext.d.ts.map
  dist/layers/execution/ParallelExecutionContext.js
  dist/layers/execution/ParallelExecutionContext.js.map
  dist/layers/execution/ProgressCoordinator.d.ts
  dist/layers/execution/ProgressCoordinator.d.ts.map
  dist/layers/execution/ProgressCoordinator.js
  dist/layers/execution/ProgressCoordinator.js.map
  src/layers/execution/ParallelErrorHandler.ts
  src/layers/execution/ParallelExecutionContext.ts
  src/layers/execution/ProgressCoordinator.ts
  src/layers/execution/__tests__/race-conditions.test.ts
  src/layers/execution/__tests__/timeout-scenarios.test.ts
Labels: tests, build

feat: add comprehensive testing and documentation for parallel execution (#140)
  CONTRIBUTING.md
  dist/benchmarks/demo-parallel-speedup.d.ts
  dist/benchmarks/demo-parallel-speedup.d.ts.map
  dist/benchmarks/demo-parallel-speedup.js
  dist/benchmarks/demo-parallel-speedup.js.map
  dist/benchmarks/parallel-execution-runner.d.ts
  dist/benchmarks/parallel-execution-runner.d.ts.map
  dist/benchmarks/parallel-execution-runner.js
  dist/benchmarks/parallel-execution-runner.js.map
  examples/parallel-execution/README.md
  examples/parallel-execution/basic.ts
  examples/parallel-execution/convergence.ts
  examples/parallel-execution/error-handling.ts
  examples/parallel-execution/monitoring.ts
  package.json
  src/__tests__/integration/parallel-execution-comprehensive.test.ts
  src/__tests__/integration/parallel-execution-simple.test.ts
  src/__tests__/layers/execution/ConvergenceExecutor.test.ts
  src/__tests__/layers/execution/ParallelExecutionMetrics.test.ts
  src/__tests__/layers/execution/ProgressCoordinator.test.ts
  src/__tests__/layers/execution/SessionTimeoutMonitor.test.ts
  src/__tests__/performance/parallel-execution-benchmark.test.ts
  src/benchmarks/demo-parallel-speedup.ts
  src/benchmarks/parallel-execution-runner.ts
Labels: documentation, tests, dependencies, build

fix: resolve all lint errors and improve test stability
  dist/benchmarks/demo-parallel-speedup.js
  dist/benchmarks/demo-parallel-speedup.js.map
  dist/benchmarks/parallel-execution-runner.js
  dist/benchmarks/parallel-execution-runner.js.map
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
  src/__tests__/integration/parallel-execution-comprehensive.test.ts
  src/__tests__/integration/parallel-execution-simple.test.ts
  src/__tests__/layers/execution/ConvergenceExecutor.test.ts
  src/__tests__/layers/execution/ParallelExecutionMetrics.test.ts
  src/__tests__/layers/execution/ProgressCoordinator.test.ts
  src/__tests__/layers/execution/SessionTimeoutMonitor.test.ts
  src/__tests__/performance/parallel-execution-benchmark.test.ts
  src/benchmarks/demo-parallel-speedup.ts
  src/benchmarks/parallel-execution-runner.ts
  src/core/ResponseBuilder.ts
  src/layers/execution/ConvergenceExecutor.ts
Labels: tests, build

fix: resolve all lint errors and increase test timeout
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  src/__tests__/integration/parallel-execution-comprehensive.test.ts
  src/__tests__/performance/parallel-execution-benchmark.test.ts
  src/layers/execution/ExecutionValidator.ts
Labels: tests, build

feat: add comprehensive testing and documentation for parallel execution (#140) (#174)
  CONTRIBUTING.md
  dist/benchmarks/demo-parallel-speedup.d.ts
  dist/benchmarks/demo-parallel-speedup.d.ts.map
  dist/benchmarks/demo-parallel-speedup.js
  dist/benchmarks/demo-parallel-speedup.js.map
  dist/benchmarks/parallel-execution-runner.d.ts
  dist/benchmarks/parallel-execution-runner.d.ts.map
  dist/benchmarks/parallel-execution-runner.js
  dist/benchmarks/parallel-execution-runner.js.map
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  examples/parallel-execution/README.md
  examples/parallel-execution/basic.ts
  examples/parallel-execution/convergence.ts
  examples/parallel-execution/error-handling.ts
  examples/parallel-execution/monitoring.ts
  package.json
  src/__tests__/integration/parallel-execution-comprehensive.test.ts
  src/__tests__/integration/parallel-execution-simple.test.ts
  src/__tests__/layers/execution/ConvergenceExecutor.test.ts
  src/__tests__/layers/execution/ParallelExecutionMetrics.test.ts
  src/__tests__/layers/execution/ProgressCoordinator.test.ts
  src/__tests__/layers/execution/SessionTimeoutMonitor.test.ts
  src/__tests__/performance/parallel-execution-benchmark.test.ts
  src/benchmarks/demo-parallel-speedup.ts
  src/benchmarks/parallel-execution-runner.ts
  src/core/ResponseBuilder.ts
  src/layers/execution/ConvergenceExecutor.ts
  src/layers/execution/ExecutionValidator.ts
Labels: documentation, tests, dependencies, build

fix: correct progress tracking calculation in SessionCompletionTracker
  dist/core/session/SessionCompletionTracker.d.ts.map
  dist/core/session/SessionCompletionTracker.js
  dist/core/session/SessionCompletionTracker.js.map
  src/core/session/SessionCompletionTracker.ts
Labels: build

perf: optimize SessionCompletionTracker and add comprehensive tests
  dist/core/session/SessionCompletionTracker.d.ts
  dist/core/session/SessionCompletionTracker.d.ts.map
  dist/core/session/SessionCompletionTracker.js
  dist/core/session/SessionCompletionTracker.js.map
  src/__tests__/core/session/SessionCompletionTracker.test.ts
  src/core/session/SessionCompletionTracker.ts
Labels: tests, build

fix: correct progress tracking calculation in SessionCompletionTracker (#175)
  dist/core/session/SessionCompletionTracker.d.ts
  dist/core/session/SessionCompletionTracker.d.ts.map
  dist/core/session/SessionCompletionTracker.js
  dist/core/session/SessionCompletionTracker.js.map
  src/__tests__/core/session/SessionCompletionTracker.test.ts
  src/core/session/SessionCompletionTracker.ts
Labels: tests, build

feat: implement parallel tool call support with Anthropic-style format
  dist/core/session/SessionCompletionTracker.d.ts.map
  dist/core/session/SessionCompletionTracker.js
  dist/core/session/SessionCompletionTracker.js.map
  dist/layers/execution/CompletionGatekeeper.d.ts.map
  dist/layers/execution/CompletionGatekeeper.js
  dist/layers/execution/CompletionGatekeeper.js.map
  dist/layers/execution/ExecutionResponseBuilder.d.ts.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  src/__tests__/integration/performance.test.ts
  src/__tests__/performance/parallel-execution-benchmark.test.ts
  src/__tests__/techniques/DisneyMethodHandler.test.ts
  src/__tests__/techniques/NineWindowsHandler.test.ts
  src/core/session/SessionCompletionTracker.ts
  src/layers/execution/CompletionGatekeeper.ts
  src/layers/execution/ExecutionResponseBuilder.ts
Labels: tests, build

fix: correct step number calculation for parallel execution
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  src/__tests__/performance/parallel-execution-benchmark.test.ts
  src/layers/execution/ExecutionValidator.ts
Labels: tests, build

test: adjust memory efficiency expectations for parallel execution
  src/__tests__/performance/parallel-execution-benchmark.test.ts
Labels: tests

feat: enhance parallel execution with error isolation and memory monitoring
  dist/layers/execution/ParallelExecutionContext.d.ts
  dist/layers/execution/ParallelExecutionContext.d.ts.map
  dist/layers/execution/ParallelExecutionContext.js
  dist/layers/execution/ParallelExecutionContext.js.map
  dist/server/ParallelToolCallHandler.d.ts.map
  dist/server/ParallelToolCallHandler.js
  dist/server/ParallelToolCallHandler.js.map
  src/layers/execution/ParallelExecutionContext.ts
  src/server/ParallelToolCallHandler.ts
Labels: build

chore: update dist files
  dist/server/ParallelToolCallHandler.d.ts.map
  dist/server/ParallelToolCallHandler.js.map
Labels: build

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'
