Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'

feat: establish Anthropic format as the standard
  CLAUDE.md
  dist/config/parallel.d.ts
  src/__tests__/server/ParallelToolCallHandler.anthropic.test.ts
  src/config/parallel.ts
Labels: documentation, tests, build

fix: allow convergence technique to execute without being in plan
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  dist/server/ParallelToolCallHandler.d.ts
  dist/server/ParallelToolCallHandler.d.ts.map
  dist/server/ParallelToolCallHandler.js
  dist/server/ParallelToolCallHandler.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/integration/mcp-client-integration.test.ts
  src/__tests__/integration/mcp-client-parallel.test.ts
  src/__tests__/integration/mcp-protocol-compliance.test.ts
  src/__tests__/integration/parallel-execution-comprehensive.test.ts
  src/__tests__/layers/execution/ConvergenceExecutor.test.ts
  src/__tests__/utils/MCPClientTestHelper.ts
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
  src/layers/execution.ts
  src/layers/execution/ConvergenceExecutor.ts
  src/layers/execution/ExecutionValidator.ts
  src/server/ParallelToolCallHandler.ts
  src/server/RequestHandlers.ts
  test-convergence.cjs
Labels: tests, build

refactor: improve code quality and add NLP-based theme extraction
  dist/core/validators/ConvergenceValidator.d.ts
  dist/core/validators/ConvergenceValidator.d.ts.map
  dist/core/validators/ConvergenceValidator.js
  dist/core/validators/ConvergenceValidator.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/layers/execution/ConvergenceExecutor.d.ts
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
  dist/layers/execution/ExecutionValidator.d.ts
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  dist/server/ParallelToolCallHandler.d.ts.map
  dist/server/ParallelToolCallHandler.js
  dist/server/ParallelToolCallHandler.js.map
  src/core/validators/ConvergenceValidator.ts
  src/index.ts
  src/layers/execution/ConvergenceExecutor.ts
  src/layers/execution/ExecutionValidator.ts
  src/server/ParallelToolCallHandler.ts
Labels: techniques, build

perf: optimize NLP theme extraction to fix performance regression
  dist/layers/execution/ConvergenceExecutor.d.ts.map
  dist/layers/execution/ConvergenceExecutor.js
  dist/layers/execution/ConvergenceExecutor.js.map
  src/layers/execution/ConvergenceExecutor.ts
Labels: build

fix: validate object fields to prevent malformed JSON and wrong types
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/validators/ObjectFieldValidator.d.ts
  dist/core/validators/ObjectFieldValidator.d.ts.map
  dist/core/validators/ObjectFieldValidator.js
  dist/core/validators/ObjectFieldValidator.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/core/ObjectFieldValidator.test.ts
  src/core/ValidationStrategies.ts
  src/core/validators/ObjectFieldValidator.ts
  src/server/RequestHandlers.ts
Labels: tests, build

fix: validate object fields to prevent malformed JSON and wrong types (#179)
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/validators/ObjectFieldValidator.d.ts
  dist/core/validators/ObjectFieldValidator.d.ts.map
  dist/core/validators/ObjectFieldValidator.js
  dist/core/validators/ObjectFieldValidator.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/core/ObjectFieldValidator.test.ts
  src/core/ValidationStrategies.ts
  src/core/validators/ObjectFieldValidator.ts
  src/server/RequestHandlers.ts
Labels: tests, build

test: add comprehensive Anthropic-style parallel tool call tests
  src/__tests__/integration/anthropic-parallel-tools.test.ts
Labels: tests

fix: handle parallel tool calls array format correctly
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/server/RequestHandlers.ts
Labels: build

perf: optimize parallel tool call detection to fix performance regression
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/server/RequestHandlers.ts
Labels: build

fix: handle parallel tool calls and add comprehensive tests (#180)
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/integration/anthropic-parallel-tools.test.ts
  src/server/RequestHandlers.ts
Labels: tests, build

fix: prevent 'Claude's response was interrupted' errors with array field validation
  dist/core/validators/ObjectFieldValidator.d.ts
  dist/core/validators/ObjectFieldValidator.d.ts.map
  dist/core/validators/ObjectFieldValidator.js
  dist/core/validators/ObjectFieldValidator.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/core/validators/ObjectFieldValidator.test.ts
  src/__tests__/integration/array-field-validation.test.ts
  src/core/validators/ObjectFieldValidator.ts
  src/server/RequestHandlers.ts
Labels: tests, build

fix: prevent 'Claude's response was interrupted' errors with array field validation (#181)
  dist/core/validators/ObjectFieldValidator.d.ts
  dist/core/validators/ObjectFieldValidator.d.ts.map
  dist/core/validators/ObjectFieldValidator.js
  dist/core/validators/ObjectFieldValidator.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/core/validators/ObjectFieldValidator.test.ts
  src/__tests__/integration/array-field-validation.test.ts
  src/core/validators/ObjectFieldValidator.ts
  src/server/RequestHandlers.ts
Labels: tests, build

fix: remove Anthropic-specific parallel handling to fix connection termination
  dist/config/parallel.d.ts
  dist/config/parallel.d.ts.map
  dist/config/parallel.js
  dist/config/parallel.js.map
  dist/server/RequestHandlers.d.ts
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/integration/anthropic-parallel-tools.test.ts
  src/__tests__/server/ParallelToolCallHandler.anthropic.test.ts
  src/config/parallel.ts
  src/server/ParallelToolCallHandler.ts
  src/server/RequestHandlers.ts
Labels: tests, build

chore: remove ParallelToolCallHandler artifacts from dist folder
  dist/server/ParallelToolCallHandler.d.ts
  dist/server/ParallelToolCallHandler.d.ts.map
  dist/server/ParallelToolCallHandler.js
  dist/server/ParallelToolCallHandler.js.map
Labels: build

fix: remove Anthropic-specific parallel handling to fix connection termination (#182)
  dist/config/parallel.d.ts
  dist/config/parallel.d.ts.map
  dist/config/parallel.js
  dist/config/parallel.js.map
  dist/server/ParallelToolCallHandler.d.ts
  dist/server/ParallelToolCallHandler.d.ts.map
  dist/server/ParallelToolCallHandler.js
  dist/server/ParallelToolCallHandler.js.map
  dist/server/RequestHandlers.d.ts
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/integration/anthropic-parallel-tools.test.ts
  src/__tests__/server/ParallelToolCallHandler.anthropic.test.ts
  src/config/parallel.ts
  src/server/ParallelToolCallHandler.ts
  src/server/RequestHandlers.ts
Labels: tests, build

fix: improve error message delivery and add MCP protocol documentation
  CLAUDE.md
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/server/RequestHandlers.ts
Labels: documentation, build

fix: implement RequestInterceptor to handle array format errors properly
  CLAUDE.md
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  dist/server/RequestInterceptor.d.ts
  dist/server/RequestInterceptor.d.ts.map
  dist/server/RequestInterceptor.js
  dist/server/RequestInterceptor.js.map
  src/index.ts
  src/server/RequestHandlers.ts
  src/server/RequestInterceptor.ts
Labels: documentation, techniques, build

feat: add base64 encoding support for sessionIds to enable resilient session resumption
  dist/core/ResponseBuilder.d.ts
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/core/session/SessionEncoder.d.ts
  dist/core/session/SessionEncoder.d.ts.map
  dist/core/session/SessionEncoder.js
  dist/core/session/SessionEncoder.js.map
  dist/layers/execution/ExecutionResponseBuilder.d.ts.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  src/__tests__/session-encoder.test.ts
  src/core/ResponseBuilder.ts
  src/core/session/SessionEncoder.ts
  src/layers/execution/ExecutionResponseBuilder.ts
  src/layers/execution/ExecutionValidator.ts
Labels: tests, build

docs: update documentation to reflect DAG-based parallel execution architecture
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/server/RequestHandlers.ts
Labels: documentation, build

fix: address CI test failures and review feedback
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/performance/parallel-execution-benchmark.test.ts
  src/__tests__/server/array-format-handling.test.ts
  src/server/RequestHandlers.ts
Labels: tests, build

fix: address critical security and performance issues
  dist/core/session/SessionEncoder.d.ts
  dist/core/session/SessionEncoder.d.ts.map
  dist/core/session/SessionEncoder.js
  dist/core/session/SessionEncoder.js.map
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  dist/layers/planning/ExecutionGraphGenerator.d.ts
  dist/layers/planning/ExecutionGraphGenerator.d.ts.map
  dist/layers/planning/ExecutionGraphGenerator.js
  dist/layers/planning/ExecutionGraphGenerator.js.map
  src/__tests__/core/session/memory-pressure.test.ts
  src/__tests__/session-encoder.test.ts
  src/core/session/SessionEncoder.ts
  src/layers/execution/ExecutionValidator.ts
  src/layers/planning/ExecutionGraphGenerator.ts
Labels: tests, build

fix: critical memory leak in SessionEncoder
  dist/core/session/SessionEncoder.d.ts
  dist/core/session/SessionEncoder.d.ts.map
  dist/core/session/SessionEncoder.js
  dist/core/session/SessionEncoder.js.map
  src/__tests__/core/session/memory-pressure.test.ts
  src/core/session/SessionEncoder.ts
Labels: tests, build

chore: update dist files
  dist/core/session/SessionEncoder.d.ts.map
  dist/core/session/SessionEncoder.js.map
Labels: build

fix: make memory efficiency test more robust
  src/__tests__/performance/parallel-execution-benchmark.test.ts
Labels: tests

chore: update dist files
  dist/layers/planning/ExecutionGraphGenerator.d.ts.map
  dist/layers/planning/ExecutionGraphGenerator.js
  dist/layers/planning/ExecutionGraphGenerator.js.map
Labels: build

perf: optimize ExecutionGraphGenerator to fix performance regression
  dist/layers/planning/ExecutionGraphGenerator.d.ts.map
  dist/layers/planning/ExecutionGraphGenerator.js
  dist/layers/planning/ExecutionGraphGenerator.js.map
  src/layers/planning/ExecutionGraphGenerator.ts
Labels: build

fix: ensure identical execute_thinking_step responses regardless of executionMode
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/core/session/SessionCompletionTracker.d.ts.map
  dist/core/session/SessionCompletionTracker.js
  dist/core/session/SessionCompletionTracker.js.map
  dist/layers/execution/ExecutionResponseBuilder.d.ts.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  src/__tests__/core/session/SessionCompletionTracker.test.ts
  src/core/WorkflowGuard.ts
  src/core/session/SessionCompletionTracker.ts
  src/layers/execution/ExecutionResponseBuilder.ts
  src/layers/execution/ExecutionValidator.ts
Labels: tests, build

feat: add concurrent request handling with session-level locking
  dist/core/SessionManager.d.ts
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  dist/core/session/SessionLock.d.ts
  dist/core/session/SessionLock.d.ts.map
  dist/core/session/SessionLock.js
  dist/core/session/SessionLock.js.map
  dist/index.js
  dist/index.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  src/__tests__/integration/concurrent-execution.test.ts
  src/__tests__/integration/concurrent-proof.test.ts
  src/core/SessionManager.ts
  src/core/session/SessionLock.ts
  src/index.ts
  src/layers/execution.ts
  src/layers/execution/ExecutionValidator.ts
Labels: tests, techniques, build

fix: add graceful shutdown handling to prevent incomplete_stream errors
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  dist/core/session/SessionLock.d.ts
  dist/core/session/SessionLock.d.ts.map
  dist/core/session/SessionLock.js
  dist/core/session/SessionLock.js.map
  dist/index.js
  dist/index.js.map
  src/__tests__/integration/graceful-shutdown.test.ts
  src/core/SessionManager.ts
  src/core/session/SessionLock.ts
  src/index.ts
Labels: tests, techniques, build

fix: improve WorkflowGuard to validate planId and extend session window
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/core/workflow-planid-validation.test.ts
  src/core/WorkflowGuard.ts
  src/server/RequestHandlers.ts
Labels: tests, build

fix: prevent incomplete_stream error with proper stdio flushing
  dist/index.js
  dist/index.js.map
  src/index.ts
Labels: techniques, build

fix: comprehensive fix for incomplete_stream errors
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/index.js
  dist/index.js.map
  dist/server/RequestHandlers.d.ts
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/core/ResponseBuilder.ts
  src/index.ts
  src/server/RequestHandlers.ts
Labels: techniques, build

feat: implement robust parallel execution with Promise.allSettled
  dist/core/session/SessionLock.d.ts
  dist/core/session/SessionLock.d.ts.map
  dist/core/session/SessionLock.js
  dist/core/session/SessionLock.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/server/RequestHandlers.d.ts
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/integration/parallel-execution-robustness.test.ts
  src/__tests__/integration/parallel-execution.test.ts
  src/core/session/SessionLock.ts
  src/layers/execution.ts
  src/server/RequestHandlers.ts
Labels: tests, build

feat: dynamic recommendation limits and performance optimizations
  CHANGELOG.md
  CONTRIBUTING.md
  dist/layers/discovery/ExecutionModeController.js
  dist/layers/discovery/ExecutionModeController.js.map
  dist/layers/discovery/TechniqueRecommender.d.ts
  dist/layers/discovery/TechniqueRecommender.d.ts.map
  dist/layers/discovery/TechniqueRecommender.js
  dist/layers/discovery/TechniqueRecommender.js.map
  dist/server/PromptsHandler.d.ts.map
  dist/server/PromptsHandler.js
  dist/server/PromptsHandler.js.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/layered-tools.test.ts
  src/__tests__/layers/discovery/ExecutionModeController.test.ts
  src/__tests__/layers/discovery/wildcard.test.ts
  src/layers/discovery/ExecutionModeController.ts
  src/layers/discovery/TechniqueRecommender.ts
Labels: documentation, tests, build

chore: update dist files
  dist/layers/discovery/TechniqueRecommender.d.ts.map
  dist/layers/discovery/TechniqueRecommender.js.map
Labels: build

perf: fix TechniqueRecommender caching by using singleton pattern
  dist/layers/discovery.d.ts.map
  dist/layers/discovery.js
  dist/layers/discovery.js.map
  src/layers/discovery.ts
Labels: build

docs: clarify client-server execution architecture
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  dist/types/guards.d.ts
  dist/types/guards.d.ts.map
  dist/types/guards.js
  dist/types/guards.js.map
  dist/types/planning.d.ts
  dist/types/planning.d.ts.map
  src/types/guards.ts
  src/types/planning.ts
Labels: documentation, build

chore: remove deprecated parallel execution code
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/optionGeneration/engine.d.ts
  dist/ergodicity/optionGeneration/engine.d.ts.map
  dist/ergodicity/optionGeneration/engine.js
  dist/ergodicity/optionGeneration/engine.js.map
  dist/types/guards.d.ts
  dist/types/guards.d.ts.map
  dist/types/guards.js
  dist/types/guards.js.map
  dist/types/planning.d.ts
  dist/types/planning.d.ts.map
  src/ergodicity/index.ts
  src/ergodicity/optionGeneration/engine.ts
  src/types/guards.ts
  src/types/planning.ts
Labels: build

chore: update dist files
  dist/ergodicity/optionGeneration/engine.d.ts.map
  dist/ergodicity/optionGeneration/engine.js.map
  dist/types/planning.d.ts.map
Labels: build

chore: remove deprecated parallel execution code (#188)
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/optionGeneration/engine.d.ts
  dist/ergodicity/optionGeneration/engine.d.ts.map
  dist/ergodicity/optionGeneration/engine.js
  dist/ergodicity/optionGeneration/engine.js.map
  dist/types/guards.d.ts
  dist/types/guards.d.ts.map
  dist/types/guards.js
  dist/types/guards.js.map
  dist/types/planning.d.ts
  dist/types/planning.d.ts.map
  src/ergodicity/index.ts
  src/ergodicity/optionGeneration/engine.ts
  src/types/guards.ts
  src/types/planning.ts
Labels: build
