Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'

fix: make parallel execution test more robust for CI environments
  src/__tests__/integration/parallel-execution.test.ts
Labels: tests

fix: make parallel execution test realistic for JavaScript limitations
  src/__tests__/integration/parallel-execution.test.ts
Labels: tests

feat: centralize and enhance NLP usage across codebase
  dist/complexity/analyzer.d.ts
  dist/complexity/analyzer.d.ts.map
  dist/complexity/analyzer.js
  dist/complexity/analyzer.js.map
  dist/layers/discovery/ProblemAnalyzer.d.ts
  dist/layers/discovery/ProblemAnalyzer.d.ts.map
  dist/layers/discovery/ProblemAnalyzer.js
  dist/layers/discovery/ProblemAnalyzer.js.map
  dist/nlp/NLPService.d.ts
  dist/nlp/NLPService.d.ts.map
  dist/nlp/NLPService.js
  dist/nlp/NLPService.js.map
  src/__tests__/nlp/NLPService.test.ts
  src/complexity/analyzer.ts
  src/layers/discovery/ProblemAnalyzer.ts
  src/nlp/NLPService.ts
Labels: tests, build

fix: revert NLP service changes to fix failing tests
  dist/complexity/analyzer.d.ts
  dist/complexity/analyzer.d.ts.map
  dist/complexity/analyzer.js
  dist/complexity/analyzer.js.map
  dist/layers/discovery/ProblemAnalyzer.d.ts
  dist/layers/discovery/ProblemAnalyzer.d.ts.map
  dist/layers/discovery/ProblemAnalyzer.js
  dist/layers/discovery/ProblemAnalyzer.js.map
  dist/nlp/NLPService.d.ts
  dist/nlp/NLPService.d.ts.map
  dist/nlp/NLPService.js
  dist/nlp/NLPService.js.map
  src/__tests__/nlp/NLPService.test.ts
  src/complexity/analyzer.ts
  src/layers/discovery/ProblemAnalyzer.ts
  src/nlp/NLPService.ts
Labels: tests, build

feat: implement comprehensive NLPService with full test coverage
  dist/complexity/analyzer.d.ts
  dist/complexity/analyzer.d.ts.map
  dist/complexity/analyzer.js
  dist/complexity/analyzer.js.map
  dist/core/nlp-types.d.ts
  dist/core/nlp-types.d.ts.map
  dist/layers/discovery/ProblemAnalyzer.d.ts
  dist/layers/discovery/ProblemAnalyzer.d.ts.map
  dist/layers/discovery/ProblemAnalyzer.js
  dist/layers/discovery/ProblemAnalyzer.js.map
  dist/nlp/NLPService.d.ts
  dist/nlp/NLPService.d.ts.map
  dist/nlp/NLPService.js
  dist/nlp/NLPService.js.map
  src/__tests__/integration/concurrent-proof.test.ts
  src/__tests__/nlp/NLPService.test.ts
  src/complexity/__tests__/analyzer.test.ts
  src/complexity/analyzer.ts
  src/core/nlp-types.ts
  src/layers/discovery/ProblemAnalyzer.ts
  src/nlp/NLPService.ts
Labels: tests, build

fix: adjust all performance test thresholds for NLP overhead
  src/__tests__/integration/concurrent-proof.test.ts
  src/__tests__/integration/parallel-execution-robustness.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/nlp/NLPService.test.ts
Labels: tests

fix: improve concurrent test to work across Node versions
  src/__tests__/integration/concurrent-proof.test.ts
Labels: tests

fix: resolve Vitest worker timeout issues
  vitest.config.ts
Labels: tests, config

feat: implement MCP Sampling feature (#135)
  dist/sampling/SamplingManager.d.ts
  dist/sampling/SamplingManager.d.ts.map
  dist/sampling/SamplingManager.js
  dist/sampling/SamplingManager.js.map
  dist/sampling/features/AugmentedNLPService.d.ts
  dist/sampling/features/AugmentedNLPService.d.ts.map
  dist/sampling/features/AugmentedNLPService.js
  dist/sampling/features/AugmentedNLPService.js.map
  dist/sampling/features/IdeaEnhancer.d.ts
  dist/sampling/features/IdeaEnhancer.d.ts.map
  dist/sampling/features/IdeaEnhancer.js
  dist/sampling/features/IdeaEnhancer.js.map
  dist/sampling/features/RiskGenerator.d.ts
  dist/sampling/features/RiskGenerator.d.ts.map
  dist/sampling/features/RiskGenerator.js
  dist/sampling/features/RiskGenerator.js.map
  dist/sampling/features/SmartSummaryGenerator.d.ts
  dist/sampling/features/SmartSummaryGenerator.d.ts.map
  dist/sampling/features/SmartSummaryGenerator.js
  dist/sampling/features/SmartSummaryGenerator.js.map
  dist/sampling/features/TechniqueRecommender.d.ts
  dist/sampling/features/TechniqueRecommender.d.ts.map
  dist/sampling/features/TechniqueRecommender.js
  dist/sampling/features/TechniqueRecommender.js.map
  dist/sampling/index.d.ts
  dist/sampling/index.d.ts.map
  dist/sampling/index.js
  dist/sampling/index.js.map
  dist/sampling/types.d.ts
  dist/sampling/types.d.ts.map
  dist/sampling/types.js
  dist/sampling/types.js.map
  src/sampling/SamplingManager.ts
  src/sampling/features/AugmentedNLPService.ts
  src/sampling/features/IdeaEnhancer.ts
  src/sampling/features/RiskGenerator.ts
  src/sampling/features/SmartSummaryGenerator.ts
  src/sampling/features/TechniqueRecommender.ts
  src/sampling/index.ts
  src/sampling/types.ts
Labels: build

feat: Complete MCP Sampling integration with test suites
  README.md
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/sampling/SamplingManager.d.ts.map
  dist/sampling/SamplingManager.js.map
  dist/server/RequestHandlers.d.ts
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  dist/server/SamplingHandler.d.ts
  dist/server/SamplingHandler.d.ts.map
  dist/server/SamplingHandler.js
  dist/server/SamplingHandler.js.map
  src/__tests__/sampling/AugmentedNLPService.test.ts
  src/__tests__/sampling/IdeaEnhancer.test.ts
  src/__tests__/sampling/RiskGenerator.test.ts
  src/__tests__/sampling/SamplingManager.test.ts
  src/__tests__/sampling/SmartSummaryGenerator.test.ts
  src/__tests__/sampling/TechniqueRecommender.test.ts
  src/index.ts
  src/server/RequestHandlers.ts
  src/server/SamplingHandler.ts
Labels: documentation, tests, techniques, build

fix: resolve all test failures in MCP Sampling implementation
  dist/sampling/SamplingManager.d.ts.map
  dist/sampling/SamplingManager.js
  dist/sampling/SamplingManager.js.map
  dist/sampling/features/RiskGenerator.d.ts.map
  dist/sampling/features/RiskGenerator.js
  dist/sampling/features/RiskGenerator.js.map
  dist/sampling/features/SmartSummaryGenerator.d.ts
  dist/sampling/features/SmartSummaryGenerator.d.ts.map
  dist/sampling/features/SmartSummaryGenerator.js
  dist/sampling/features/SmartSummaryGenerator.js.map
  dist/server/SamplingHandler.d.ts
  dist/server/SamplingHandler.d.ts.map
  dist/server/SamplingHandler.js
  dist/server/SamplingHandler.js.map
  src/__tests__/sampling/AugmentedNLPService.test.ts
  src/__tests__/sampling/IdeaEnhancer.test.ts
  src/__tests__/sampling/RiskGenerator.test.ts
  src/__tests__/sampling/SamplingManager.test.ts
  src/__tests__/sampling/SmartSummaryGenerator.test.ts
  src/__tests__/sampling/TechniqueRecommender.test.ts
  src/sampling/SamplingManager.ts
  src/sampling/features/RiskGenerator.ts
  src/sampling/features/SmartSummaryGenerator.ts
  src/server/SamplingHandler.ts
Labels: tests, build

perf: remove console.error statements causing performance regression
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/server/RequestHandlers.ts
Labels: build

fix: add missing techniques to WorkflowGuard and increase CI test timeout
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/server/RequestHandlers.d.ts.map
  dist/server/RequestHandlers.js
  dist/server/RequestHandlers.js.map
  src/__tests__/core/workflow-techniques-sync.test.ts
  src/__tests__/sampling/AugmentedNLPService.test.ts
  src/core/WorkflowGuard.ts
Labels: tests, techniques, build

fix: replace timing-based test with functional verification
  src/__tests__/sampling/AugmentedNLPService.test.ts
Labels: tests

fix: use TechniqueRegistry as single source of truth for technique validation
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  src/__tests__/core/workflow-techniques-sync.test.ts
  src/core/ValidationStrategies.ts
Labels: tests, techniques, build

chore: remove all convergence/parallel execution remnants
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/errors/ErrorHandler.d.ts.map
  dist/errors/ErrorHandler.js
  dist/errors/ErrorHandler.js.map
  dist/errors/enhanced-errors.d.ts
  dist/errors/enhanced-errors.d.ts.map
  dist/errors/enhanced-errors.js
  dist/errors/enhanced-errors.js.map
  dist/errors/types.d.ts
  dist/errors/types.d.ts.map
  dist/errors/types.js
  dist/errors/types.js.map
  dist/layers/execution/CompletionGatekeeper.d.ts
  dist/layers/execution/CompletionGatekeeper.js
  dist/utils/VisualFormatter.d.ts
  dist/utils/VisualFormatter.d.ts.map
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  src/__tests__/errors/enhanced-errors.test.ts
  src/__tests__/errors/error-code-regressions.test.ts
  src/__tests__/errors/error-code-validation.test.ts
  src/core/ValidationStrategies.ts
  src/errors/ErrorHandler.ts
  src/errors/enhanced-errors.ts
  src/errors/types.ts
  src/layers/execution/CompletionGatekeeper.ts
  src/utils/VisualFormatter.ts
Labels: tests, build

build: update dist files after convergence cleanup
  dist/errors/ErrorHandler.d.ts.map
  dist/errors/ErrorHandler.js.map
  dist/errors/enhanced-errors.d.ts.map
  dist/errors/enhanced-errors.js.map
  dist/errors/types.d.ts.map
  dist/errors/types.js.map
  dist/utils/VisualFormatter.d.ts.map
  dist/utils/VisualFormatter.js.map
Labels: build

perf: implement singleton pattern for TechniqueRegistry
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
Labels: build

chore: update dist files
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js.map
Labels: build

perf: implement global singleton pattern for TechniqueRegistry with caching
  dist/benchmarks/demo-parallel-speedup.js
  dist/benchmarks/demo-parallel-speedup.js.map
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/index.js
  dist/index.js.map
  dist/techniques/TechniqueRegistry.d.ts
  dist/techniques/TechniqueRegistry.d.ts.map
  dist/techniques/TechniqueRegistry.js
  dist/techniques/TechniqueRegistry.js.map
  src/__tests__/core/workflow-techniques-sync.test.ts
  src/__tests__/ergodicity/ergodicityPrompts.test.ts
  src/__tests__/integration/error-recovery.test.ts
  src/__tests__/integration/option-generation-integration.test.ts
  src/__tests__/issues/issue-114-step-9999.test.ts
  src/__tests__/issues/step-numbering-integration.test.ts
  src/__tests__/issues/step-numbering.test.ts
  src/__tests__/layers/discovery/wildcard.test.ts
  src/__tests__/layers/sessionIdHandling.test.ts
  src/__tests__/techniques/outOfBoundsHandling.test.ts
  src/benchmarks/demo-parallel-speedup.ts
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
  src/index.ts
  src/techniques/TechniqueRegistry.ts
Labels: tests, techniques, build

perf: optimize technique validation with caching and Set lookups
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
Labels: build

chore: update dist files
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js.map
Labels: build

perf: switch from lazy to eager initialization for hot paths
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/techniques/TechniqueRegistry.d.ts
  dist/techniques/TechniqueRegistry.d.ts.map
  dist/techniques/TechniqueRegistry.js
  dist/techniques/TechniqueRegistry.js.map
  src/__tests__/layers/discovery/wildcard.test.ts
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
  src/techniques/TechniqueRegistry.ts
Labels: tests, build

chore: update dist files for eager initialization changes
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js.map
Labels: build

perf: implement module-level technique caching for optimal performance
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/core/techniqueCache.d.ts
  dist/core/techniqueCache.d.ts.map
  dist/core/techniqueCache.js
  dist/core/techniqueCache.js.map
  src/__tests__/core/workflow-techniques-sync.test.ts
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
  src/core/techniqueCache.ts
Labels: tests, techniques, build

chore: update remaining dist source maps
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js.map
Labels: build

fix: remove duplicate Set creation causing memory growth
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
Labels: build

chore: update dist source maps
  dist/techniques/MetaLearningHandler.d.ts.map
  dist/techniques/MetaLearningHandler.js.map
Labels: build

test: adjust memory growth threshold for 18 techniques
  src/__tests__/integration/stress.test.ts
Labels: tests

chore: update dist files after prettier formatting
  dist/techniques/BiomimeticPathHandler.d.ts.map
  dist/techniques/BiomimeticPathHandler.js.map
Labels: build

refactor: add expected outputs and enhance BiomimeticStep interface
  dist/layers/planning.js
  dist/layers/planning.js.map
  dist/techniques/BiomimeticPathHandler.d.ts
  dist/techniques/BiomimeticPathHandler.d.ts.map
  dist/techniques/BiomimeticPathHandler.js
  dist/techniques/BiomimeticPathHandler.js.map
  src/layers/planning.ts
  src/techniques/BiomimeticPathHandler.ts
Labels: build

chore: rebuild dist files after interface enhancements
  dist/techniques/BiomimeticPathHandler.d.ts.map
  dist/techniques/BiomimeticPathHandler.js.map
Labels: build

feat: add biomimetic_path to getExpectedOutputs function
  dist/layers/planning.js
  dist/layers/planning.js.map
  src/layers/planning.ts
Labels: build

feat: implement Cultural Path Navigation technique (#159)
  dist/core/session/SessionCompletionTracker.d.ts.map
  dist/core/session/SessionCompletionTracker.js
  dist/core/session/SessionCompletionTracker.js.map
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/layers/planning.js
  dist/layers/planning.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  dist/sampling/features/TechniqueRecommender.d.ts.map
  dist/sampling/features/TechniqueRecommender.js
  dist/sampling/features/TechniqueRecommender.js.map
  dist/techniques/CulturalPathHandler.d.ts
  dist/techniques/CulturalPathHandler.d.ts.map
  dist/techniques/CulturalPathHandler.js
  dist/techniques/CulturalPathHandler.js.map
  dist/techniques/TechniqueRegistry.d.ts.map
  dist/techniques/TechniqueRegistry.js
  dist/techniques/TechniqueRegistry.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  dist/utils/VisualFormatter.d.ts.map
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  src/__tests__/core/workflow-techniques-sync.test.ts
  src/core/session/SessionCompletionTracker.ts
  src/ergodicity/index.ts
  src/ergodicity/pathMemory.ts
  src/layers/planning.ts
  src/persistence/types.ts
  src/sampling/features/TechniqueRecommender.ts
  src/techniques/CulturalPathHandler.ts
  src/techniques/TechniqueRegistry.ts
  src/types/index.ts
  src/utils/VisualFormatter.ts
Labels: tests, techniques, build

chore: update dist files
  dist/techniques/CulturalPathHandler.d.ts.map
  dist/techniques/CulturalPathHandler.js.map
Labels: build

test: add comprehensive test coverage for CulturalPathHandler
  dist/techniques/CulturalPathHandler.d.ts
  dist/techniques/CulturalPathHandler.d.ts.map
  dist/techniques/CulturalPathHandler.js
  dist/techniques/CulturalPathHandler.js.map
  src/__tests__/techniques/CulturalPathHandler.test.ts
  src/techniques/CulturalPathHandler.ts
Labels: tests, build

refactor: improve Cultural Creativity Handler code organization
  dist/techniques/CulturalCreativityHandler.d.ts
  dist/techniques/CulturalCreativityHandler.d.ts.map
  dist/techniques/CulturalCreativityHandler.js
  dist/techniques/CulturalCreativityHandler.js.map
  src/techniques/CulturalCreativityHandler.ts
Labels: build

fix: update package-lock.json to sync with package.json dependencies
  package-lock.json
Labels: dependencies

fix: address code review issues in reflexivity implementation
  dist/core/ReflexivityTracker.d.ts
  dist/core/ReflexivityTracker.d.ts.map
  dist/core/ReflexivityTracker.js
  dist/core/ReflexivityTracker.js.map
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  src/__tests__/reflexivity-edge-cases.test.ts
  src/core/ReflexivityTracker.ts
  src/core/SessionManager.ts
Labels: tests, build

fix: add missing paradoxical_problem fields to documentation and types
  dist/core/ReflexivityTracker.d.ts
  dist/core/ReflexivityTracker.d.ts.map
  dist/core/ReflexivityTracker.js
  dist/core/ReflexivityTracker.js.map
  dist/core/SessionManager.d.ts
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  dist/index.js
  dist/index.js.map
  dist/nlp/NLPService.d.ts
  dist/nlp/NLPService.d.ts.map
  dist/nlp/NLPService.js
  dist/nlp/NLPService.js.map
  dist/sampling/index.d.ts
  dist/sampling/index.d.ts.map
  dist/sampling/index.js
  dist/sampling/index.js.map
  dist/server/ToolDefinitions.d.ts.map
  dist/server/ToolDefinitions.js
  dist/server/ToolDefinitions.js.map
  dist/techniques/ParadoxicalProblemHandler.d.ts.map
  dist/techniques/ParadoxicalProblemHandler.js
  dist/techniques/ParadoxicalProblemHandler.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/reflexivity-edge-cases.test.ts
  src/__tests__/reflexivity.test.ts
  src/__tests__/sampling/AugmentedNLPService.test.ts
  src/core/ReflexivityTracker.ts
  src/core/SessionManager.ts
  src/index.ts
  src/nlp/NLPService.ts
  src/sampling/features/AugmentedNLPService.ts
  src/sampling/index.ts
  src/server/ToolDefinitions.ts
  src/techniques/ParadoxicalProblemHandler.ts
  src/types/index.ts
Labels: tests, techniques, build
