Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

feat: add Design Thinking technique with embedded risk management
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  examples/test-design-thinking.ts
  src/__tests__/design-thinking.test.ts
  src/index.ts
  src/persistence/types.ts
Labels: documentation, tests, techniques, build

feat: implement additional creativity techniques with unified framework
  README.md
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  examples/test-triz.ts
  src/__tests__/triz.test.ts
  src/index.ts
  src/persistence/types.ts
Labels: documentation, tests, techniques, build

feat: implement three-layer tool architecture and remove legacy tool
  CLAUDE.md
  README.md
  SPECIFICATIONS.md
  dist/index.js
  dist/index.js.map
  examples/layered-workflow.md
  examples/test-layered-tools.ts
  package.json
  src/__tests__/layered-tools.test.ts
  src/index.ts
Labels: documentation, tests, dependencies, techniques, build

fix: resolve all TypeScript and ESLint errors blocking CI build
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  eslint.config.js
  examples/test-design-thinking.ts
  examples/test-layered-tools.ts
  examples/test-triz.ts
  src/__tests__/design-thinking.test.ts
  src/__tests__/layered-tools.test.ts
  src/__tests__/triz.test.ts
  src/export/__tests__/json-exporter.test.ts
  src/index.ts
  src/persistence/types.ts
Labels: documentation, tests, techniques, config, build

fix: resolve all failing tests and improve test coverage
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/layered-tools.test.ts
  src/index.ts
Labels: tests, techniques, build

style: fix prettier formatting for CI compliance
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/index.ts
Labels: techniques, build

fix: enforce three-layer workflow with required planId (fixes #60)
  CLAUDE.md
  README.md
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/layered-tools.test.ts
  src/index.ts
Labels: documentation, tests, techniques, build

fix: implement plan cleanup to prevent memory leak
  src/index.ts
Labels: techniques

build: update dist files with plan cleanup implementation
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
Labels: build

feat: implement ergodicity awareness and path dependency tracking
  README.md
  dist/ergodicity/index.d.ts
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/metrics.d.ts
  dist/ergodicity/metrics.d.ts.map
  dist/ergodicity/metrics.js
  dist/ergodicity/metrics.js.map
  dist/ergodicity/pathMemory.d.ts
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/ergodicity/types.d.ts
  dist/ergodicity/types.d.ts.map
  dist/ergodicity/types.js
  dist/ergodicity/types.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/ergodicity.test.ts
  src/__tests__/layered-tools.test.ts
  src/ergodicity/index.ts
  src/ergodicity/metrics.ts
  src/ergodicity/pathMemory.ts
  src/ergodicity/types.ts
  src/index.ts
Labels: documentation, tests, techniques, build

fix: resolve linting issues for ergodicity implementation
  src/__tests__/ergodicity.test.ts
  src/ergodicity/index.ts
  src/ergodicity/metrics.ts
  src/ergodicity/pathMemory.ts
  src/ergodicity/types.ts
  src/index.ts
Labels: tests, techniques

feat: implement ergodicity awareness and path dependency tracking (#62)
  README.md
  dist/ergodicity/index.d.ts
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/metrics.d.ts
  dist/ergodicity/metrics.d.ts.map
  dist/ergodicity/metrics.js
  dist/ergodicity/metrics.js.map
  dist/ergodicity/pathMemory.d.ts
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/ergodicity/types.d.ts
  dist/ergodicity/types.d.ts.map
  dist/ergodicity/types.js
  dist/ergodicity/types.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/ergodicity.test.ts
  src/__tests__/layered-tools.test.ts
  src/ergodicity/index.ts
  src/ergodicity/metrics.ts
  src/ergodicity/pathMemory.ts
  src/ergodicity/types.ts
  src/index.ts
Labels: documentation, tests, techniques, build

fix: remove async from executeProtocol to resolve ESLint error
  dist/ergodicity/earlyWarning/responseProtocols.d.ts.map
  dist/ergodicity/earlyWarning/responseProtocols.js
  dist/ergodicity/earlyWarning/responseProtocols.js.map
  src/ergodicity/earlyWarning/responseProtocols.ts
Labels: build

fix: resolve all code quality issues identified in CI review
  dist/ergodicity/earlyWarning/sensors/base.d.ts.map
  dist/ergodicity/earlyWarning/sensors/base.js
  dist/ergodicity/earlyWarning/sensors/base.js.map
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.d.ts
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.d.ts.map
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.js
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.js.map
  dist/ergodicity/earlyWarning/sensors/resourceMonitor.d.ts
  dist/ergodicity/earlyWarning/sensors/resourceMonitor.d.ts.map
  dist/ergodicity/earlyWarning/sensors/resourceMonitor.js
  dist/ergodicity/earlyWarning/sensors/resourceMonitor.js.map
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.d.ts
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.d.ts.map
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.js
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.js.map
  dist/ergodicity/earlyWarning/types.d.ts
  dist/ergodicity/earlyWarning/types.d.ts.map
  dist/ergodicity/earlyWarning/warningSystem.d.ts
  dist/ergodicity/earlyWarning/warningSystem.d.ts.map
  dist/ergodicity/earlyWarning/warningSystem.js
  dist/ergodicity/earlyWarning/warningSystem.js.map
  dist/ergodicity/index.d.ts
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  src/ergodicity/earlyWarning/sensors/base.ts
  src/ergodicity/earlyWarning/sensors/cognitiveAssessor.ts
  src/ergodicity/earlyWarning/sensors/resourceMonitor.ts
  src/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.ts
  src/ergodicity/earlyWarning/types.ts
  src/ergodicity/earlyWarning/warningSystem.ts
  src/ergodicity/index.ts
  test/earlyWarning.test.ts
Labels: tests, build

fix: resolve all ESLint errors
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.d.ts.map
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.js
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.js.map
  dist/ergodicity/earlyWarning/sensors/resourceMonitor.d.ts.map
  dist/ergodicity/earlyWarning/sensors/resourceMonitor.js
  dist/ergodicity/earlyWarning/sensors/resourceMonitor.js.map
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.d.ts.map
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.js
  dist/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.js.map
  dist/ergodicity/earlyWarning/warningSystem.d.ts.map
  dist/ergodicity/earlyWarning/warningSystem.js
  dist/ergodicity/earlyWarning/warningSystem.js.map
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js.map
  src/ergodicity/earlyWarning/sensors/cognitiveAssessor.ts
  src/ergodicity/earlyWarning/sensors/resourceMonitor.ts
  src/ergodicity/earlyWarning/sensors/technicalDebtAnalyzer.ts
  src/ergodicity/earlyWarning/warningSystem.ts
  src/ergodicity/index.ts
  test/earlyWarning.test.ts
Labels: tests, build

fix: address critical issues from CI pipeline code review
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/optionGeneration/constants.d.ts
  dist/ergodicity/optionGeneration/constants.d.ts.map
  dist/ergodicity/optionGeneration/constants.js
  dist/ergodicity/optionGeneration/constants.js.map
  dist/ergodicity/optionGeneration/engine.d.ts
  dist/ergodicity/optionGeneration/engine.d.ts.map
  dist/ergodicity/optionGeneration/engine.js
  dist/ergodicity/optionGeneration/engine.js.map
  dist/ergodicity/optionGeneration/evaluator.d.ts.map
  dist/ergodicity/optionGeneration/evaluator.js
  dist/ergodicity/optionGeneration/evaluator.js.map
  dist/ergodicity/optionGeneration/strategies/base.d.ts.map
  dist/ergodicity/optionGeneration/strategies/base.js
  dist/ergodicity/optionGeneration/strategies/base.js.map
  dist/ergodicity/optionGeneration/strategies/decomposition.d.ts.map
  dist/ergodicity/optionGeneration/strategies/decomposition.js
  dist/ergodicity/optionGeneration/strategies/decomposition.js.map
  dist/ergodicity/optionGeneration/strategies/inversion.d.ts.map
  dist/ergodicity/optionGeneration/strategies/inversion.js
  dist/ergodicity/optionGeneration/strategies/inversion.js.map
  dist/ergodicity/optionGeneration/strategies/temporal.d.ts.map
  dist/ergodicity/optionGeneration/strategies/temporal.js
  dist/ergodicity/optionGeneration/strategies/temporal.js.map
  dist/ergodicity/optionGeneration/types.d.ts
  dist/ergodicity/optionGeneration/types.d.ts.map
  src/__tests__/option-generation-engine.test.ts
  src/__tests__/option-generation-evaluator.test.ts
  src/__tests__/option-generation-strategies.test.ts
  src/ergodicity/index.ts
  src/ergodicity/optionGeneration/constants.ts
  src/ergodicity/optionGeneration/engine.ts
  src/ergodicity/optionGeneration/evaluator.ts
  src/ergodicity/optionGeneration/strategies/base.ts
  src/ergodicity/optionGeneration/strategies/decomposition.ts
  src/ergodicity/optionGeneration/strategies/inversion.ts
  src/ergodicity/optionGeneration/strategies/temporal.ts
  src/ergodicity/optionGeneration/types.ts
Labels: tests, build

fix: update codecov-action to v5 with files parameter
  .github/workflows/ci.yml
Labels: ci

chore(deps-dev): update vitest from 1.6.1 to 3.2.4
  package-lock.json
  package.json
Labels: dependencies, build

chore(deps-dev): update vitest from 1.6.1 to 3.2.4 (#67)
  package-lock.json
  package.json
Labels: dependencies, build

docs: update and consolidate documentation
  CLAUDE.md
  README.md
  SPECIFICATIONS.md
Labels: documentation

docs: update and consolidate documentation (#68)
  CLAUDE.md
  README.md
  SPECIFICATIONS.md
Labels: documentation

fix: remove dummy value fallbacks in session operation validation (#49)
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.js
  dist/ergodicity/earlyWarning/sensors/cognitiveAssessor.js.map
  dist/ergodicity/earlyWarning/warningSystem.d.ts.map
  dist/ergodicity/earlyWarning/warningSystem.js
  dist/ergodicity/earlyWarning/warningSystem.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  src/__tests__/validation.test.ts
  src/ergodicity/earlyWarning/sensors/cognitiveAssessor.ts
  src/ergodicity/earlyWarning/warningSystem.ts
  src/index.ts
  src/persistence/types.ts
  test/earlyWarning.test.ts
Labels: tests, techniques, build

fix: resolve lint errors and rebuild dist files
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/validation.test.ts
  src/index.ts
Labels: tests, techniques, build

fix: simplify session cleanup logic and improve memory management
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/sessionManagement.test.ts
  src/index.ts
Labels: tests, techniques, build

fix: resolve lint errors in session management tests
  src/__tests__/sessionManagement.test.ts
Labels: tests

test: add comprehensive unit tests for core ergodicity features
  src/__tests__/core/threeToolConstraint.test.ts
  src/__tests__/ergodicity/barrierDetection.test.ts
  src/__tests__/ergodicity/flexibilityScoring.test.ts
  src/__tests__/ergodicity/pathTracking.test.ts
Labels: tests

test: make escape protocol test more flexible for CI environment
  src/__tests__/ergodicity/barrierDetection.test.ts
Labels: tests

test: add comprehensive tests for escape protocols
  src/__tests__/ergodicity/escapeProtocols.test.ts
  src/__tests__/option-generation-engine.test.ts
Labels: tests

style: fix lint errors in escape protocol tests
  src/__tests__/ergodicity/escapeProtocols.test.ts
Labels: tests

test: add comprehensive test suite for option generation and technique implementations
  src/__tests__/option-generation-engine-extended.test.ts
  src/__tests__/techniques-implementation.test.ts
  src/ergodicity/optionGeneration/engine.ts
Labels: tests, techniques

feat: standardize error response formats (#51)
  dist/ergodicity/optionGeneration/engine.d.ts.map
  dist/ergodicity/optionGeneration/engine.js
  dist/ergodicity/optionGeneration/engine.js.map
  dist/errors/index.d.ts
  dist/errors/index.d.ts.map
  dist/errors/index.js
  dist/errors/index.js.map
  dist/errors/types.d.ts
  dist/errors/types.d.ts.map
  dist/errors/types.js
  dist/errors/types.js.map
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/errors/standardized-errors.test.ts
  src/ergodicity/optionGeneration/engine.ts
  src/errors/index.ts
  src/errors/types.ts
  src/index.ts
Labels: tests, techniques, build

fix: update test assertion for standardized error format
  src/__tests__/techniques-implementation.test.ts
Labels: tests, techniques

fix: format test file to pass lint check
  src/__tests__/techniques-implementation.test.ts
Labels: tests, techniques

feat: apply specifications augmentation patch
  SPECIFICATIONS.md
Labels: documentation

feat: enhance SPECIFICATIONS with memory-aware integration patterns
  SPECIFICATIONS.md
Labels: documentation

feat: implement memory-suggestive outputs for creative thinking sessions
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/memory-suggestive-outputs.test.ts
  src/index.ts
Labels: tests, techniques, build

style: fix linting errors in memory-suggestive outputs implementation
  src/__tests__/memory-suggestive-outputs.test.ts
  src/index.ts
Labels: tests, techniques

feat: implement memory-suggestive outputs for creative thinking sessions (#92)
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/memory-suggestive-outputs.test.ts
  src/index.ts
Labels: tests, techniques, build

feat: implement Neural State Optimization technique
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  src/__tests__/neural-state-optimization.test.ts
  src/ergodicity/index.ts
  src/ergodicity/pathMemory.ts
  src/index.ts
  src/persistence/types.ts
Labels: tests, techniques, build

fix: resolve linting issues
  src/__tests__/neural-state-optimization.test.ts
  src/index.ts
Labels: tests, techniques

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'
