Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'

chore: rebuild dist files after linter formatting
  dist/ergodicity/riskDismissalTracker.d.ts.map
  dist/ergodicity/riskDismissalTracker.js
  dist/ergodicity/riskDismissalTracker.js.map
Labels: build

fix: prevent risk dismissal escalation for non-risky scenarios (#124)
  dist/ergodicity/escalationPrompts.d.ts
  dist/ergodicity/escalationPrompts.d.ts.map
  dist/ergodicity/escalationPrompts.js
  dist/ergodicity/escalationPrompts.js.map
  dist/ergodicity/index.d.ts
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/riskDismissalTracker.d.ts
  dist/ergodicity/riskDismissalTracker.d.ts.map
  dist/ergodicity/riskDismissalTracker.js
  dist/ergodicity/riskDismissalTracker.js.map
  dist/ergodicity/stakesDiscovery.d.ts
  dist/ergodicity/stakesDiscovery.d.ts.map
  dist/ergodicity/stakesDiscovery.js
  dist/ergodicity/stakesDiscovery.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/ergodicity/escalation.test.ts
  src/__tests__/integration/option-generation-integration.test.ts
  src/__tests__/integration/riskDiscoveryIntegration.test.ts
  src/ergodicity/escalationPrompts.ts
  src/ergodicity/index.ts
  src/ergodicity/riskDismissalTracker.ts
  src/ergodicity/stakesDiscovery.ts
  src/layers/execution.ts
  src/types/index.ts
Labels: tests, build

feat: implement semantic-release for automated versioning
  .github/workflows/semantic-release.yml
  .releaserc.json
  docs/RELEASE_PROCESS.md
  package-lock.json
  package.json
Labels: documentation, dependencies, ci, build

fix: disable NPM publishing in semantic-release configuration
  .github/workflows/semantic-release.yml
  .releaserc.json
  docs/RELEASE_PROCESS.md
  package.json
Labels: documentation, dependencies, ci, build

fix: resolve persistence path and six_hats validation issues
  dist/persistence/filesystem-adapter.d.ts.map
  dist/persistence/filesystem-adapter.js
  dist/persistence/filesystem-adapter.js.map
  dist/techniques/SixHatsHandler.js
  dist/techniques/SixHatsHandler.js.map
  src/persistence/filesystem-adapter.ts
  src/techniques/SixHatsHandler.ts
Labels: build

feat: implement semantic-release for automated versioning (#128)
  .github/workflows/semantic-release.yml
  .releaserc.json
  dist/persistence/filesystem-adapter.d.ts.map
  dist/persistence/filesystem-adapter.js
  dist/persistence/filesystem-adapter.js.map
  dist/techniques/SixHatsHandler.js
  dist/techniques/SixHatsHandler.js.map
  docs/RELEASE_PROCESS.md
  package-lock.json
  package.json
  src/persistence/filesystem-adapter.ts
  src/techniques/SixHatsHandler.ts
Labels: documentation, dependencies, ci, build

fix: prevent LLM from skipping discovery/planning workflow (#119)
  ISSUE_PRIORITIZATION.md
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  src/__tests__/integration/llm-bypass-prevention.test.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/layered-tools.test.ts
  src/__tests__/llm-workflow-validation.test.ts
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
  src/index.ts
  src/layers/execution.ts
Labels: documentation, tests, techniques, build

style: fix Prettier formatting in test files
  src/__tests__/layered-tools.test.ts
  src/__tests__/llm-workflow-validation.test.ts
Labels: tests

fix: prevent LLM from skipping discovery/planning workflow (#119) (#129)
  ISSUE_PRIORITIZATION.md
  dist/core/ValidationStrategies.d.ts
  dist/core/ValidationStrategies.d.ts.map
  dist/core/ValidationStrategies.js
  dist/core/ValidationStrategies.js.map
  dist/core/WorkflowGuard.d.ts
  dist/core/WorkflowGuard.d.ts.map
  dist/core/WorkflowGuard.js
  dist/core/WorkflowGuard.js.map
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  src/__tests__/integration/llm-bypass-prevention.test.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/layered-tools.test.ts
  src/__tests__/llm-workflow-validation.test.ts
  src/core/ValidationStrategies.ts
  src/core/WorkflowGuard.ts
  src/index.ts
  src/layers/execution.ts
Labels: documentation, tests, techniques, build

refactor: extract large executeThinkingStep method into orchestrators (#53)
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ErgodicityOrchestrator.d.ts
  dist/layers/execution/ErgodicityOrchestrator.d.ts.map
  dist/layers/execution/ErgodicityOrchestrator.js
  dist/layers/execution/ErgodicityOrchestrator.js.map
  dist/layers/execution/ExecutionResponseBuilder.d.ts
  dist/layers/execution/ExecutionResponseBuilder.d.ts.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  dist/layers/execution/ExecutionValidator.d.ts
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  dist/layers/execution/RiskAssessmentOrchestrator.d.ts
  dist/layers/execution/RiskAssessmentOrchestrator.d.ts.map
  dist/layers/execution/RiskAssessmentOrchestrator.js
  dist/layers/execution/RiskAssessmentOrchestrator.js.map
  src/layers/execution.ts
  src/layers/execution/ErgodicityOrchestrator.ts
  src/layers/execution/ExecutionResponseBuilder.ts
  src/layers/execution/ExecutionValidator.ts
  src/layers/execution/RiskAssessmentOrchestrator.ts
Labels: build

feat: add comprehensive error recovery tests (#75)
  src/__tests__/integration/error-recovery.test.ts
Labels: tests

chore: improve pre-commit hook and fix flaky test
  .husky/pre-commit
  src/__tests__/option-generation/InversionStrategy.edge-cases.test.ts
Labels: tests

chore: fix deprecated husky configuration
  .husky/commit-msg
  .husky/pre-commit
Labels: none

fix: address code review feedback for error recovery tests
  .husky/pre-commit
  docs/error-handling-patterns.md
  src/__tests__/integration/error-recovery.test.ts
Labels: documentation, tests

fix: update missed error assertion to use regex pattern
  src/__tests__/integration/error-recovery.test.ts
Labels: tests

feat: add comprehensive error recovery tests (#75) (#149)
  .husky/commit-msg
  .husky/pre-commit
  docs/error-handling-patterns.md
  src/__tests__/integration/error-recovery.test.ts
  src/__tests__/option-generation/InversionStrategy.edge-cases.test.ts
Labels: documentation, tests

feat: add CI integration for performance benchmarks
  .github/workflows/performance.yml
  benchmarks/.gitkeep
  benchmarks/README.md
  package.json
  scripts/extract-benchmarks.js
  scripts/performance-reporter.js
  src/utils/performanceMetrics.ts
  vitest.config.performance.ts
Labels: documentation, dependencies, ci, build

fix: use .cjs extension for CommonJS scripts
  .github/workflows/performance.yml
  dist/utils/performanceMetrics.d.ts
  dist/utils/performanceMetrics.d.ts.map
  dist/utils/performanceMetrics.js
  dist/utils/performanceMetrics.js.map
  scripts/extract-benchmarks.cjs
  scripts/performance-reporter.cjs
  vitest.config.performance.ts
Labels: ci, build

fix: add ESLint configuration for CommonJS scripts
  eslint.config.js
  scripts/extract-benchmarks.cjs
  scripts/performance-reporter.cjs
Labels: config

fix: handle missing gh-pages branch in benchmark workflow
  .github/workflows/performance.yml
  .github/workflows/setup-gh-pages.yml
Labels: ci

refactor: address code review feedback for performance benchmarks
  .github/workflows/performance.yml
  scripts/benchmark-patterns.cjs
  scripts/extract-benchmarks.cjs
  scripts/performance-reporter.cjs
Labels: ci

docs: add comprehensive error recovery documentation (Issue #127)
  README.md
  docs/ERROR_HANDLING_QUICK_REFERENCE.md
  docs/ERROR_RECOVERY_IMPLEMENTATION_GUIDE.md
  docs/ERROR_RECOVERY_PATTERNS.md
  docs/RELEASE_PROCESS.md
  docs/early-warning-system.md
  src/__tests__/integration/README.md
Labels: documentation, tests

chore: remove outdated documentation files
  ISSUE_PRIORITIZATION.md
  docs/error-handling-patterns.md
Labels: documentation

perf: improve performance benchmarking robustness
  scripts/benchmark-patterns.cjs
  scripts/extract-benchmarks.cjs
  src/utils/performanceMetrics.ts
Labels: none

build: update performanceMetrics build artifacts
  dist/utils/performanceMetrics.d.ts
  dist/utils/performanceMetrics.d.ts.map
  dist/utils/performanceMetrics.js
  dist/utils/performanceMetrics.js.map
Labels: build

perf: add CI integration for performance benchmarks
  .github/workflows/performance.yml
  benchmarks/PERFORMANCE_BASELINES.md
  benchmarks/README.md
  docs/PERFORMANCE_MONITORING.md
  scripts/analyze-performance-trends.cjs
  src/__tests__/helpers/performance.ts
  src/__tests__/integration/performance.test.ts
Labels: documentation, tests, ci

fix: remove test infrastructure overhead from performance measurements
  .github/workflows/performance.yml
  benchmarks/README.md
  src/__tests__/helpers/performance.ts
  src/__tests__/integration/performance.test.ts
Labels: documentation, tests, ci

feat: add CI integration for performance benchmarks (#150)
  .github/workflows/performance.yml
  .github/workflows/setup-gh-pages.yml
  ISSUE_PRIORITIZATION.md
  README.md
  benchmarks/.gitkeep
  benchmarks/PERFORMANCE_BASELINES.md
  benchmarks/README.md
  dist/utils/performanceMetrics.d.ts
  dist/utils/performanceMetrics.d.ts.map
  dist/utils/performanceMetrics.js
  dist/utils/performanceMetrics.js.map
  docs/ERROR_HANDLING_QUICK_REFERENCE.md
  docs/ERROR_RECOVERY_IMPLEMENTATION_GUIDE.md
  docs/ERROR_RECOVERY_PATTERNS.md
  docs/PERFORMANCE_MONITORING.md
  docs/RELEASE_PROCESS.md
  docs/early-warning-system.md
  docs/error-handling-patterns.md
  eslint.config.js
  package.json
  scripts/analyze-performance-trends.cjs
  scripts/benchmark-patterns.cjs
  scripts/extract-benchmarks.cjs
  scripts/performance-reporter.cjs
  src/__tests__/helpers/performance.ts
  src/__tests__/integration/README.md
  src/__tests__/integration/performance.test.ts
  src/utils/performanceMetrics.ts
  vitest.config.performance.ts
Labels: documentation, tests, dependencies, ci, config, build

feat: add technique-specific visual indicators to stderr output
  README.md
  dist/utils/VisualFormatter.d.ts
  dist/utils/VisualFormatter.d.ts.map
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  docs/VISUAL_INDICATORS.md
  src/__tests__/utils/visual-indicators.test.ts
  src/utils/VisualFormatter.ts
Labels: documentation, tests, build

fix: resolve performance regression and improve code quality
  dist/utils/VisualFormatter.d.ts.map
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  performance-benchmarks.json
  performance-results.json
  src/__tests__/utils/visual-indicators.test.ts
  src/utils/VisualFormatter.ts
Labels: tests, build

feat: add technique-specific visual indicators to stderr output (#151)
  README.md
  dist/utils/VisualFormatter.d.ts
  dist/utils/VisualFormatter.d.ts.map
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  docs/VISUAL_INDICATORS.md
  performance-benchmarks.json
  performance-results.json
  src/__tests__/utils/visual-indicators.test.ts
  src/utils/VisualFormatter.ts
Labels: documentation, tests, build

chore: add pre-push hook for dist file synchronization
  .husky/pre-push
  CLAUDE.md
  README.md
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  src/utils/VisualFormatter.ts
Labels: documentation, build

chore: add pre-push hook for dist file synchronization (#152)
  .husky/pre-push
  CLAUDE.md
  README.md
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  src/utils/VisualFormatter.ts
Labels: documentation, build

Potential fix for code scanning alert no. 9: DOM text reinterpreted as HTML
  scripts/telemetry-dashboard.html
Labels: none

fix: address telemetry PR review feedback + add fork note
  CHANGELOG.md
  README.md
  dist/telemetry/TelemetryCollector.d.ts.map
  dist/telemetry/TelemetryCollector.js
  dist/telemetry/TelemetryCollector.js.map
  dist/telemetry/TelemetryStorage.d.ts.map
  dist/telemetry/TelemetryStorage.js
  dist/telemetry/TelemetryStorage.js.map
  dist/telemetry/privacy.d.ts
  dist/telemetry/privacy.d.ts.map
  dist/telemetry/privacy.js
  dist/telemetry/privacy.js.map
  src/telemetry/TelemetryCollector.ts
  src/telemetry/TelemetryStorage.ts
  src/telemetry/privacy.ts
Labels: documentation, build

chore: update dist files
  dist/telemetry/TelemetryCollector.d.ts.map
  dist/telemetry/TelemetryCollector.js
  dist/telemetry/TelemetryCollector.js.map
  dist/telemetry/privacy.d.ts.map
  dist/telemetry/privacy.js
  dist/telemetry/privacy.js.map
Labels: build

feat: implement core type system for parallel execution (#141)
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/errors/types.d.ts
  dist/errors/types.d.ts.map
  dist/errors/types.js
  dist/errors/types.js.map
  dist/layers/planning.d.ts.map
  dist/layers/planning.js
  dist/layers/planning.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  dist/types/guards.d.ts
  dist/types/guards.d.ts.map
  dist/types/guards.js
  dist/types/guards.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  dist/types/planning.d.ts
  dist/types/planning.d.ts.map
  dist/utils/VisualFormatter.d.ts.map
  dist/utils/VisualFormatter.js
  dist/utils/VisualFormatter.js.map
  src/__tests__/types/parallel-execution.test.ts
  src/ergodicity/index.ts
  src/ergodicity/pathMemory.ts
  src/errors/types.ts
  src/layers/planning.ts
  src/persistence/types.ts
  src/types/guards.ts
  src/types/index.ts
  src/types/planning.ts
  src/utils/VisualFormatter.ts
Labels: tests, build

chore: bump version to 0.5.0 for parallel execution feature
  CHANGELOG.md
  package.json
Labels: documentation, dependencies, build

feat: add parallel execution fields to MCP tool schemas
  CHANGELOG.md
  src/server/ToolDefinitions.ts
  src/types/planning.ts
Labels: documentation

chore: update dist files
  dist/server/ToolDefinitions.d.ts.map
  dist/server/ToolDefinitions.js
  dist/server/ToolDefinitions.js.map
  dist/types/planning.d.ts.map
Labels: build
