Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'

fix: add neural_state to MCP tool schemas
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/index.ts
Labels: techniques, build

docs: add critical PR review and pre-commit guidelines
  CLAUDE.md
Labels: documentation

docs: correct pre-commit order to test→build→lint
  CLAUDE.md
Labels: documentation

docs: fix pre-commit order to build→test→lint
  CLAUDE.md
Labels: documentation

docs: update CLAUDE.md to reflect 9 techniques including neural_state
  CLAUDE.md
Labels: documentation

feat: implement Temporal Work Design technique
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  src/__tests__/temporal-work-design.test.ts
  src/ergodicity/index.ts
  src/ergodicity/pathMemory.ts
  src/index.ts
  src/persistence/types.ts
Labels: tests, techniques, build

fix: address temporal work design feedback
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/temporal-work-design.test.ts
  src/index.ts
Labels: tests, techniques, build

fix: additional temporal work improvements
  CLAUDE.md
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/index.ts
Labels: documentation, techniques, build

feat: implement Cross-Cultural Integration technique
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  src/__tests__/cross-cultural-integration.test.ts
  src/ergodicity/index.ts
  src/ergodicity/pathMemory.ts
  src/index.ts
  src/persistence/types.ts
Labels: tests, techniques, build

fix: improve Cross-Cultural Integration implementation
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/index.ts
Labels: techniques, build

feat: implement Collective Intelligence Orchestration technique
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  src/__tests__/collective-intelligence.test.ts
  src/ergodicity/index.ts
  src/ergodicity/pathMemory.ts
  src/index.ts
  src/persistence/types.ts
Labels: tests, techniques, build

feat: implement PDA-SCAMPER enhancement (#56)
  dist/ergodicity/pathMemory.d.ts
  dist/ergodicity/pathMemory.d.ts.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/persistence/types.d.ts
  dist/persistence/types.d.ts.map
  dist/persistence/types.js.map
  src/__tests__/pda-scamper.test.ts
  src/ergodicity/pathMemory.ts
  src/index.ts
  src/persistence/types.ts
Labels: tests, techniques, build

fix: resolve ESLint errors in PDA-SCAMPER implementation
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/pda-scamper.test.ts
  src/ergodicity/pathMemory.ts
  src/index.ts
  src/persistence/types.ts
Labels: tests, techniques, build

refactor: address PDA-SCAMPER review feedback
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/index.ts
Labels: techniques, build

feat: add MCP integration tests (issue #28)
  src/__tests__/helpers/integration.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/integration/workflows.test.ts
Labels: tests

feat: add MCP integration tests (issue #28)
  src/__tests__/helpers/integration.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/integration/workflows.test.ts
Labels: tests

docs: update README with test coverage and new features
  README.md
  src/__tests__/integration/README.md
Labels: documentation, tests

feat: add comprehensive MCP integration tests
  README.md
  src/__tests__/integration/README.md
  src/__tests__/integration/mcp-protocol-simple.test.ts
  src/__tests__/integration/three-layer-architecture-simple.test.ts
Labels: documentation, tests

fix: resolve lint errors in integration tests
  src/__tests__/helpers/integration.ts
  src/__tests__/integration/mcp-protocol-simple.test.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/three-layer-architecture-simple.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/integration/workflows.test.ts
Labels: tests

fix: critical lint and import errors for CI
  dist/index.d.ts.map
  dist/index.js.map
  src/__tests__/helpers/integration.ts
  src/__tests__/integration/mcp-protocol-simple.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/three-layer-architecture-simple.test.ts
Labels: tests, build

fix: update test files to match actual server response format
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
Labels: tests

fix: properly use or remove unused variables in test files
  src/__tests__/ergodicity.test.ts
  src/__tests__/integration/mcp-protocol-simple.test.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/three-layer-architecture-simple.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/integration/workflows.test.ts
  src/__tests__/layered-tools.test.ts
Labels: tests

fix: resolve all remaining test issues and lint warnings
  src/__tests__/helpers/integration.ts
  src/__tests__/helpers/types.ts
  src/__tests__/integration/mcp-protocol-simple.test.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/three-layer-architecture-simple.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/integration/workflows.test.ts
  src/__tests__/pda-scamper.test.ts
Labels: tests

fix: format integration tests README with Prettier
  src/__tests__/integration/README.md
Labels: documentation, tests

fix: address integration test issues identified in review
  src/__tests__/helpers/types.ts
  src/__tests__/integration/README.md
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/workflows.test.ts
Labels: documentation, tests

fix: address final integration test review issues
  README.md
  src/__tests__/helpers/integration.ts
Labels: documentation, tests

feat: add semantic versioning and stress tests with proper TypeScript types
  .commitlintrc.mjs
  .github/workflows/version-bump.yml
  .husky/commit-msg
  .husky/pre-commit
  .versionrc
  package-lock.json
  package.json
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/stress.test.ts
Labels: tests, dependencies, ci, build

fix: resolve CI build failures and ESLint errors
  dist/index.d.ts
  dist/index.d.ts.map
  eslint.config.js
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/stress.test.ts
  src/index.ts
Labels: tests, techniques, config, build

fix: adjust memory threshold in performance test to fix CI failure
  src/__tests__/integration/performance.test.ts
Labels: tests

chore(release): bump version to 0.2.0 for MCP integration tests release
  package-lock.json
  package.json
Labels: dependencies, build

feat: add automated version bump workflow for PRs
  .github/workflows/pr-version-bump.yml
  .github/workflows/version-bump.yml
Labels: ci

feat: add MCP integration tests (closes #28) (#100)
  .commitlintrc.mjs
  .github/workflows/pr-version-bump.yml
  .github/workflows/version-bump.yml
  .husky/commit-msg
  .husky/pre-commit
  .versionrc
  README.md
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js.map
  eslint.config.js
  package-lock.json
  package.json
  src/__tests__/ergodicity.test.ts
  src/__tests__/helpers/integration.ts
  src/__tests__/helpers/types.ts
  src/__tests__/integration/README.md
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/stress.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/integration/workflows.test.ts
  src/__tests__/layered-tools.test.ts
  src/__tests__/pda-scamper.test.ts
  src/index.ts
Labels: documentation, tests, dependencies, ci, techniques, config, build

feat: implement Reality Gradient System (issue #98)
  README.md
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/reality/index.d.ts
  dist/reality/index.d.ts.map
  dist/reality/index.js
  dist/reality/index.js.map
  dist/reality/integration.d.ts
  dist/reality/integration.d.ts.map
  dist/reality/integration.js
  dist/reality/integration.js.map
  src/__tests__/integration/reality-gradient.test.ts
  src/__tests__/reality-assessment.test.ts
  src/index.ts
  src/reality/index.ts
  src/reality/integration.ts
Labels: documentation, tests, techniques, build

fix: improve Reality Gradient System performance and code quality
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/reality/index.d.ts
  dist/reality/index.d.ts.map
  dist/reality/index.js
  dist/reality/index.js.map
  dist/reality/integration.d.ts
  dist/reality/integration.d.ts.map
  dist/reality/integration.js
  dist/reality/integration.js.map
  src/__tests__/integration/reality-gradient.test.ts
  src/__tests__/reality-assessment.test.ts
  src/__tests__/reality-performance.test.ts
  src/index.ts
  src/reality/index.ts
  src/reality/integration.ts
Labels: tests, techniques, build

fix: prevent formatOutput TypeError when accessing undefined length
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/formatOutput-edge-cases.test.ts
  src/index.ts
Labels: tests, techniques, build

fix: prevent array access vulnerabilities throughout codebase
  dist/ergodicity/escapeProtocols/calculator.d.ts.map
  dist/ergodicity/escapeProtocols/calculator.js
  dist/ergodicity/escapeProtocols/calculator.js.map
  dist/ergodicity/escapeProtocols/index.js
  dist/ergodicity/escapeProtocols/index.js.map
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/array-access-safety.test.ts
  src/ergodicity/escapeProtocols/calculator.ts
  src/ergodicity/escapeProtocols/index.ts
  src/ergodicity/index.ts
  src/index.ts
Labels: tests, techniques, build

fix: add array bounds checking and defensive programming
  dist/ergodicity/escapeProtocols/calculator.d.ts.map
  dist/ergodicity/escapeProtocols/calculator.js
  dist/ergodicity/escapeProtocols/calculator.js.map
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
Labels: build

feat: implement Reality Gradient System (issue #98) (#101)
  README.md
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/reality/index.d.ts
  dist/reality/index.d.ts.map
  dist/reality/index.js
  dist/reality/index.js.map
  dist/reality/integration.d.ts
  dist/reality/integration.d.ts.map
  dist/reality/integration.js
  dist/reality/integration.js.map
  src/__tests__/integration/reality-gradient.test.ts
  src/__tests__/reality-assessment.test.ts
  src/index.ts
  src/reality/index.ts
  src/reality/integration.ts
Labels: documentation, tests, techniques, build

fix: prevent array access vulnerabilities throughout codebase
  dist/ergodicity/escapeProtocols/calculator.d.ts.map
  dist/ergodicity/escapeProtocols/calculator.js
  dist/ergodicity/escapeProtocols/calculator.js.map
  dist/ergodicity/escapeProtocols/index.js
  dist/ergodicity/escapeProtocols/index.js.map
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/array-access-safety.test.ts
  src/__tests__/formatOutput-edge-cases.test.ts
  src/ergodicity/escapeProtocols/calculator.ts
  src/ergodicity/escapeProtocols/index.ts
  src/index.ts
Labels: tests, techniques, build

fix: apply ESLint and Prettier formatting fixes
  src/__tests__/array-access-safety.test.ts
  src/__tests__/formatOutput-edge-cases.test.ts
  src/ergodicity/escapeProtocols/calculator.ts
  src/index.ts
Labels: tests, techniques
