Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'

fix: correct wildcard probability logic and consolidate documentation
  dist/layers/discovery/TechniqueRecommender.js
  dist/layers/discovery/TechniqueRecommender.js.map
  src/layers/discovery/TechniqueRecommender.ts
Labels: build

fix: resolve all 10 CodeQL security issues and update technique count to 21
  CLAUDE.md
  cloudflare-deployment/README.md
  cloudflare-deployment/src/adapters/TechniqueAdapter.ts
  dist/complexity/cache.js
  dist/complexity/cache.js.map
  dist/persistence/filesystem-adapter.d.ts.map
  dist/persistence/filesystem-adapter.js
  dist/persistence/filesystem-adapter.js.map
  dist/utils/secureRandom.d.ts
  dist/utils/secureRandom.d.ts.map
  dist/utils/secureRandom.js
  dist/utils/secureRandom.js.map
  scripts/analyze-performance-trends.cjs
  src/__tests__/integration/error-recovery.test.ts
  src/__tests__/integration/option-generation-integration.test.ts
  src/__tests__/persistence/filesystem-adapter.test.ts
  src/complexity/cache.ts
  src/persistence/filesystem-adapter.ts
  src/utils/secureRandom.ts
Labels: documentation, tests, build

fix: critical security vulnerabilities in Cloudflare deployment
  cloudflare-deployment/example-client.html
  cloudflare-deployment/src/__tests__/integration/mcp-protocol.test.ts.skip
  cloudflare-deployment/src/__tests__/unit/adapters/SessionAdapter.test.ts
  cloudflare-deployment/src/__tests__/unit/security.test.ts
  cloudflare-deployment/src/adapters/SessionAdapter.ts
  cloudflare-deployment/src/constants/techniques.ts
  cloudflare-deployment/src/index.ts
  cloudflare-deployment/tsconfig.json
  cloudflare-deployment/vitest.config.ts
Labels: tests

fix: add missing crypto import in security tests
  cloudflare-deployment/src/__tests__/unit/security.test.ts
Labels: tests

feat: improve Cloudflare deployment robustness
  cloudflare-deployment/.env.example
  cloudflare-deployment/src/CreativeThinkingMcpAgent.ts
  cloudflare-deployment/src/adapters/ExecutionAdapter.ts
  cloudflare-deployment/src/adapters/SessionAdapter.ts
  cloudflare-deployment/src/auth-handler.ts
  cloudflare-deployment/src/utils/errors.ts
  cloudflare-deployment/wrangler.toml
Labels: none
