Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'

fix: stabilize flaky performance test for memory measurement
  src/__tests__/integration/performance.test.ts
Labels: tests

perf: optimize array concatenation in ReflexivityTracker
  dist/core/ReflexivityTracker.d.ts
  dist/core/ReflexivityTracker.d.ts.map
  dist/core/ReflexivityTracker.js
  dist/core/ReflexivityTracker.js.map
  src/core/ReflexivityTracker.ts
Labels: build

refactor: improve ReflexivityTracker code quality and security
  dist/core/ReflexivityTracker.d.ts
  dist/core/ReflexivityTracker.d.ts.map
  dist/core/ReflexivityTracker.js
  dist/core/ReflexivityTracker.js.map
  src/core/ReflexivityTracker.ts
Labels: build

chore: update dist files
  dist/core/ReflexivityTracker.d.ts.map
  dist/core/ReflexivityTracker.js
  dist/core/ReflexivityTracker.js.map
Labels: build

fix: critical parallel execution and step validation bugs
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ExecutionResponseBuilder.d.ts.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  dist/layers/execution/ExecutionValidator.d.ts
  dist/layers/execution/ExecutionValidator.d.ts.map
  dist/layers/execution/ExecutionValidator.js
  dist/layers/execution/ExecutionValidator.js.map
  src/__tests__/array-bounds-checking.test.ts
  src/__tests__/integration/concurrent-execution.test.ts
  src/__tests__/integration/parallel-execution-bugfix.test.ts
  src/__tests__/integration/parallel-execution.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/sessionManagement.public-api.test.ts
  src/layers/execution.ts
  src/layers/execution/ExecutionResponseBuilder.ts
  src/layers/execution/ExecutionValidator.ts
Labels: tests, build

feat: add memory monitoring and NLP safety improvements
  dist/core/ReflexivityTracker.d.ts
  dist/core/ReflexivityTracker.d.ts.map
  dist/core/ReflexivityTracker.js
  dist/core/ReflexivityTracker.js.map
  dist/layers/execution/ExecutionResponseBuilder.d.ts.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  dist/nlp/NLPService.d.ts.map
  dist/nlp/NLPService.js
  dist/nlp/NLPService.js.map
  src/__tests__/integration/memory-nlp-safety.test.ts
  src/core/ReflexivityTracker.ts
  src/layers/execution/ExecutionResponseBuilder.ts
  src/nlp/NLPService.ts
Labels: tests, build

fix: make all memory-nlp-safety tests pass
  src/__tests__/integration/memory-nlp-safety.test.ts
Labels: tests

fix: resolve parallel execution test performance issue
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  src/layers/execution/ExecutionResponseBuilder.ts
Labels: build

fix: make parallel execution test more reliable
  src/__tests__/integration/parallel-execution.test.ts
Labels: tests

fix: remove unused timing code from parallel execution test
  src/__tests__/integration/parallel-execution.test.ts
Labels: tests

fix: replace domain classification with adaptive risk language
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/ergodicity/AdaptiveRiskAssessment.d.ts
  dist/ergodicity/AdaptiveRiskAssessment.d.ts.map
  dist/ergodicity/AdaptiveRiskAssessment.js
  dist/ergodicity/AdaptiveRiskAssessment.js.map
  dist/ergodicity/escalationPrompts.d.ts
  dist/ergodicity/escalationPrompts.d.ts.map
  dist/ergodicity/escalationPrompts.js
  dist/ergodicity/escalationPrompts.js.map
  dist/ergodicity/prompts.d.ts.map
  dist/ergodicity/prompts.js
  dist/ergodicity/prompts.js.map
  dist/ergodicity/riskDismissalTracker.d.ts
  dist/ergodicity/riskDismissalTracker.d.ts.map
  dist/ergodicity/riskDismissalTracker.js
  dist/ergodicity/riskDismissalTracker.js.map
  dist/layers/execution/RiskAssessmentOrchestrator.d.ts.map
  dist/layers/execution/RiskAssessmentOrchestrator.js
  dist/layers/execution/RiskAssessmentOrchestrator.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/core/RuinRiskDiscovery.test.ts
  src/__tests__/ergodicity/ergodicityPrompts.test.ts
  src/__tests__/ergodicity/escalation.test.ts
  src/__tests__/integration/riskDiscoveryIntegration.test.ts
  src/core/RuinRiskDiscovery.ts
  src/ergodicity/AdaptiveRiskAssessment.ts
  src/ergodicity/escalationPrompts.ts
  src/ergodicity/prompts.ts
  src/ergodicity/riskDismissalTracker.ts
  src/layers/execution/RiskAssessmentOrchestrator.ts
  src/types/index.ts
Labels: tests, build

refactor: address code review feedback for adaptive risk assessment
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/ergodicity/AdaptiveRiskAssessment.d.ts
  dist/ergodicity/AdaptiveRiskAssessment.d.ts.map
  dist/ergodicity/AdaptiveRiskAssessment.js
  dist/ergodicity/AdaptiveRiskAssessment.js.map
  dist/ergodicity/constants.d.ts
  dist/ergodicity/constants.d.ts.map
  dist/ergodicity/constants.js
  dist/ergodicity/constants.js.map
  src/__tests__/ergodicity/AdaptiveRiskAssessment.test.ts
  src/core/RuinRiskDiscovery.ts
  src/ergodicity/AdaptiveRiskAssessment.ts
  src/ergodicity/constants.ts
Labels: tests, build

fix: enhance security and complete magic number migration
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/ergodicity/AdaptiveRiskAssessment.d.ts
  dist/ergodicity/AdaptiveRiskAssessment.d.ts.map
  dist/ergodicity/AdaptiveRiskAssessment.js
  dist/ergodicity/AdaptiveRiskAssessment.js.map
  dist/ergodicity/constants.d.ts
  dist/ergodicity/constants.d.ts.map
  dist/ergodicity/constants.js
  dist/ergodicity/constants.js.map
  dist/layers/execution/RiskAssessmentOrchestrator.d.ts.map
  dist/layers/execution/RiskAssessmentOrchestrator.js
  dist/layers/execution/RiskAssessmentOrchestrator.js.map
  src/__tests__/core/regex-security.test.ts
  src/core/RuinRiskDiscovery.ts
  src/ergodicity/AdaptiveRiskAssessment.ts
  src/ergodicity/constants.ts
  src/layers/execution/RiskAssessmentOrchestrator.ts
Labels: tests, build

perf: optimize regex sanitization for 3x performance improvement
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  src/core/RuinRiskDiscovery.ts
Labels: build

perf: optimize domain assessment with caching and adjust test threshold
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  src/__tests__/core/regex-security.test.ts
  src/core/RuinRiskDiscovery.ts
Labels: tests, build

perf: optimize NLP processing for 4x performance improvement
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  src/core/RuinRiskDiscovery.ts
Labels: build

fix: restore functionality while maintaining performance
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  src/core/RuinRiskDiscovery.ts
Labels: build

fix: adjust stress test thresholds for CI environment performance
  src/__tests__/integration/stress.test.ts
Labels: tests

fix: update tool definition to use cultural_integration technique name
  dist/server/ToolDefinitions.js
  dist/server/ToolDefinitions.js.map
  dist/techniques/CrossCulturalHandler.d.ts
  dist/techniques/CrossCulturalHandler.d.ts.map
  dist/techniques/CrossCulturalHandler.js
  dist/techniques/CrossCulturalHandler.js.map
  dist/techniques/CulturalCreativityHandler.d.ts
  dist/techniques/CulturalCreativityHandler.d.ts.map
  dist/techniques/CulturalCreativityHandler.js
  dist/techniques/CulturalCreativityHandler.js.map
  src/server/ToolDefinitions.ts
Labels: build

feat: clarify TRIZ vs ParadoxicalProblem distinction
  dist/techniques/ParadoxicalProblemHandler.d.ts
  dist/techniques/ParadoxicalProblemHandler.d.ts.map
  dist/techniques/ParadoxicalProblemHandler.js
  dist/techniques/ParadoxicalProblemHandler.js.map
  dist/techniques/TRIZHandler.js
  dist/techniques/TRIZHandler.js.map
  src/techniques/ParadoxicalProblemHandler.ts
  src/techniques/TRIZHandler.ts
Labels: build

chore: update dist files
  dist/techniques/TRIZHandler.d.ts.map
  dist/techniques/TRIZHandler.js.map
Labels: build

feat: clarify TRIZ vs ParadoxicalProblem distinction (#211)
  dist/techniques/ParadoxicalProblemHandler.d.ts
  dist/techniques/ParadoxicalProblemHandler.d.ts.map
  dist/techniques/ParadoxicalProblemHandler.js
  dist/techniques/ParadoxicalProblemHandler.js.map
  dist/techniques/TRIZHandler.d.ts.map
  dist/techniques/TRIZHandler.js
  dist/techniques/TRIZHandler.js.map
  src/techniques/ParadoxicalProblemHandler.ts
  src/techniques/TRIZHandler.ts
Labels: build

feat: clarify neural techniques and add selection guide
  README.md
  TECHNIQUE_SELECTION.md
  dist/techniques/NeuralStateHandler.d.ts.map
  dist/techniques/NeuralStateHandler.js
  dist/techniques/NeuralStateHandler.js.map
  dist/techniques/NeuroComputationalHandler.d.ts.map
  dist/techniques/NeuroComputationalHandler.js
  dist/techniques/NeuroComputationalHandler.js.map
  src/__tests__/techniques/NeuroComputationalHandler.test.ts
  src/techniques/NeuralStateHandler.ts
  src/techniques/NeuroComputationalHandler.ts
Labels: documentation, tests, build

feat: clarify neural techniques and add selection guide (#212)
  README.md
  TECHNIQUE_SELECTION.md
  dist/techniques/NeuralStateHandler.d.ts.map
  dist/techniques/NeuralStateHandler.js
  dist/techniques/NeuralStateHandler.js.map
  dist/techniques/NeuroComputationalHandler.d.ts.map
  dist/techniques/NeuroComputationalHandler.js
  dist/techniques/NeuroComputationalHandler.js.map
  src/__tests__/techniques/NeuroComputationalHandler.test.ts
  src/techniques/NeuralStateHandler.ts
  src/techniques/NeuroComputationalHandler.ts
Labels: documentation, tests, build

fix: remove remaining cultural_path references found in PR review
  SPECIFICATIONS.md
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  dist/layers/planning.js
  dist/layers/planning.js.map
  dist/techniques/CulturalPathHandler.d.ts
  dist/techniques/CulturalPathHandler.d.ts.map
  dist/techniques/CulturalPathHandler.js
  dist/techniques/CulturalPathHandler.js.map
  src/__tests__/integration/reflexivity-integration.test.ts
  src/layers/execution.ts
  src/layers/execution/ExecutionResponseBuilder.ts
  src/layers/planning.ts
Labels: documentation, tests, build

chore: update dist files
  dist/techniques/BiomimeticPathHandler.d.ts.map
  dist/techniques/BiomimeticPathHandler.js
  dist/techniques/BiomimeticPathHandler.js.map
  dist/techniques/DesignThinkingHandler.d.ts.map
  dist/techniques/DesignThinkingHandler.js
  dist/techniques/DesignThinkingHandler.js.map
  dist/techniques/DisneyMethodHandler.d.ts.map
  dist/techniques/DisneyMethodHandler.js
  dist/techniques/DisneyMethodHandler.js.map
  dist/techniques/FirstPrinciplesHandler.d.ts.map
  dist/techniques/FirstPrinciplesHandler.js
  dist/techniques/FirstPrinciplesHandler.js.map
  dist/techniques/TemporalCreativityHandler.d.ts.map
  dist/techniques/TemporalCreativityHandler.js
  dist/techniques/TemporalCreativityHandler.js.map
  dist/techniques/TemporalWorkHandler.d.ts.map
  dist/techniques/TemporalWorkHandler.js
  dist/techniques/TemporalWorkHandler.js.map
  dist/techniques/YesAndHandler.d.ts.map
  dist/techniques/YesAndHandler.js
  dist/techniques/YesAndHandler.js.map
Labels: build

feat: add reflexivity to 6 additional techniques (17/21 total)
  dist/techniques/CollectiveIntelHandler.d.ts
  dist/techniques/CollectiveIntelHandler.d.ts.map
  dist/techniques/CollectiveIntelHandler.js
  dist/techniques/CollectiveIntelHandler.js.map
  dist/techniques/ConceptExtractionHandler.d.ts
  dist/techniques/ConceptExtractionHandler.d.ts.map
  dist/techniques/ConceptExtractionHandler.js
  dist/techniques/ConceptExtractionHandler.js.map
  dist/techniques/MetaLearningHandler.d.ts
  dist/techniques/MetaLearningHandler.d.ts.map
  dist/techniques/MetaLearningHandler.js
  dist/techniques/MetaLearningHandler.js.map
  dist/techniques/NeuroComputationalHandler.d.ts
  dist/techniques/NeuroComputationalHandler.d.ts.map
  dist/techniques/NeuroComputationalHandler.js
  dist/techniques/NeuroComputationalHandler.js.map
  dist/techniques/NineWindowsHandler.d.ts
  dist/techniques/NineWindowsHandler.d.ts.map
  dist/techniques/NineWindowsHandler.js
  dist/techniques/NineWindowsHandler.js.map
  dist/techniques/POHandler.d.ts
  dist/techniques/POHandler.d.ts.map
  dist/techniques/POHandler.js
  dist/techniques/POHandler.js.map
  src/__tests__/techniques/NeuroComputationalHandler.test.ts
  src/__tests__/techniques/NineWindowsHandler.test.ts
  src/techniques/CollectiveIntelHandler.ts
  src/techniques/ConceptExtractionHandler.ts
  src/techniques/MetaLearningHandler.ts
  src/techniques/NeuroComputationalHandler.ts
  src/techniques/NineWindowsHandler.ts
  src/techniques/POHandler.ts
Labels: tests, build

fix: improve type safety by exposing public API for reflexivity memory stats
  dist/core/SessionManager.d.ts
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  dist/layers/execution/ExecutionResponseBuilder.d.ts.map
  dist/layers/execution/ExecutionResponseBuilder.js
  dist/layers/execution/ExecutionResponseBuilder.js.map
  src/core/SessionManager.ts
  src/layers/execution/ExecutionResponseBuilder.ts
Labels: build

fix: improve validation error messages and document required fields
  dist/errors/ErrorHandler.d.ts.map
  dist/errors/ErrorHandler.js
  dist/errors/ErrorHandler.js.map
  dist/server/ToolDefinitions.d.ts.map
  dist/server/ToolDefinitions.js
  dist/server/ToolDefinitions.js.map
  dist/techniques/BiomimeticPathHandler.d.ts.map
  dist/techniques/BiomimeticPathHandler.js
  dist/techniques/BiomimeticPathHandler.js.map
  dist/techniques/FirstPrinciplesHandler.d.ts.map
  dist/techniques/FirstPrinciplesHandler.js
  dist/techniques/FirstPrinciplesHandler.js.map
  dist/techniques/MetaLearningHandler.d.ts.map
  dist/techniques/MetaLearningHandler.js
  dist/techniques/MetaLearningHandler.js.map
  dist/techniques/NeuroComputationalHandler.d.ts.map
  dist/techniques/NeuroComputationalHandler.js
  dist/techniques/NeuroComputationalHandler.js.map
  dist/techniques/ParadoxicalProblemHandler.d.ts.map
  dist/techniques/ParadoxicalProblemHandler.js
  dist/techniques/ParadoxicalProblemHandler.js.map
  src/__tests__/integration/technique-validation-documentation.test.ts
  src/errors/ErrorHandler.ts
  src/server/ToolDefinitions.ts
  src/techniques/BiomimeticPathHandler.ts
  src/techniques/FirstPrinciplesHandler.ts
  src/techniques/MetaLearningHandler.ts
  src/techniques/NeuroComputationalHandler.ts
  src/techniques/ParadoxicalProblemHandler.ts
Labels: tests, techniques, build

test: update MetaLearningHandler tests for improved error messages
  src/__tests__/techniques/MetaLearningHandler.test.ts
Labels: tests

fix: address code review feedback on validation error improvements
  dist/server/ToolDefinitions.d.ts.map
  dist/server/ToolDefinitions.js
  dist/server/ToolDefinitions.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/integration/technique-validation-documentation.test.ts
  src/server/ToolDefinitions.ts
  src/types/index.ts
Labels: tests, techniques, build

fix: improve validation error messages and document required fields (#216)
  dist/errors/ErrorHandler.d.ts.map
  dist/errors/ErrorHandler.js
  dist/errors/ErrorHandler.js.map
  dist/server/ToolDefinitions.d.ts.map
  dist/server/ToolDefinitions.js
  dist/server/ToolDefinitions.js.map
  dist/techniques/BiomimeticPathHandler.d.ts.map
  dist/techniques/BiomimeticPathHandler.js
  dist/techniques/BiomimeticPathHandler.js.map
  dist/techniques/FirstPrinciplesHandler.d.ts.map
  dist/techniques/FirstPrinciplesHandler.js
  dist/techniques/FirstPrinciplesHandler.js.map
  dist/techniques/MetaLearningHandler.d.ts.map
  dist/techniques/MetaLearningHandler.js
  dist/techniques/MetaLearningHandler.js.map
  dist/techniques/NeuroComputationalHandler.d.ts.map
  dist/techniques/NeuroComputationalHandler.js
  dist/techniques/NeuroComputationalHandler.js.map
  dist/techniques/ParadoxicalProblemHandler.d.ts.map
  dist/techniques/ParadoxicalProblemHandler.js
  dist/techniques/ParadoxicalProblemHandler.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/integration/technique-validation-documentation.test.ts
  src/__tests__/techniques/MetaLearningHandler.test.ts
  src/errors/ErrorHandler.ts
  src/server/ToolDefinitions.ts
  src/techniques/BiomimeticPathHandler.ts
  src/techniques/FirstPrinciplesHandler.ts
  src/techniques/MetaLearningHandler.ts
  src/techniques/NeuroComputationalHandler.ts
  src/techniques/ParadoxicalProblemHandler.ts
  src/types/index.ts
Labels: tests, techniques, build

fix: remove behavioral locks and improve risk assessment
  dist/ergodicity/AdaptiveRiskAssessment.d.ts
  dist/ergodicity/AdaptiveRiskAssessment.d.ts.map
  dist/ergodicity/AdaptiveRiskAssessment.js
  dist/ergodicity/AdaptiveRiskAssessment.js.map
  dist/ergodicity/escalationPrompts.js
  dist/ergodicity/escalationPrompts.js.map
  dist/ergodicity/riskDismissalTracker.d.ts.map
  dist/ergodicity/riskDismissalTracker.js
  dist/ergodicity/riskDismissalTracker.js.map
  dist/layers/execution/RiskAssessmentOrchestrator.d.ts.map
  dist/layers/execution/RiskAssessmentOrchestrator.js
  dist/layers/execution/RiskAssessmentOrchestrator.js.map
  src/__tests__/ergodicity/escalation.test.ts
  src/__tests__/integration/riskDiscoveryIntegration.test.ts
  src/ergodicity/AdaptiveRiskAssessment.ts
  src/ergodicity/escalationPrompts.ts
  src/ergodicity/riskDismissalTracker.ts
  src/layers/execution/RiskAssessmentOrchestrator.ts
Labels: tests, build

fix: remove behavioral locks and improve risk assessment (#217)
  dist/ergodicity/AdaptiveRiskAssessment.d.ts
  dist/ergodicity/AdaptiveRiskAssessment.d.ts.map
  dist/ergodicity/AdaptiveRiskAssessment.js
  dist/ergodicity/AdaptiveRiskAssessment.js.map
  dist/ergodicity/escalationPrompts.js
  dist/ergodicity/escalationPrompts.js.map
  dist/ergodicity/riskDismissalTracker.d.ts.map
  dist/ergodicity/riskDismissalTracker.js
  dist/ergodicity/riskDismissalTracker.js.map
  dist/layers/execution/RiskAssessmentOrchestrator.d.ts.map
  dist/layers/execution/RiskAssessmentOrchestrator.js
  dist/layers/execution/RiskAssessmentOrchestrator.js.map
  src/__tests__/ergodicity/escalation.test.ts
  src/__tests__/integration/riskDiscoveryIntegration.test.ts
  src/ergodicity/AdaptiveRiskAssessment.ts
  src/ergodicity/escalationPrompts.ts
  src/ergodicity/riskDismissalTracker.ts
  src/layers/execution/RiskAssessmentOrchestrator.ts
Labels: tests, build

feat: add Cloudflare Workers deployment with Agents SDK
  cloudflare-deployment/DEPLOYMENT.md
  cloudflare-deployment/README.md
  cloudflare-deployment/example-client.html
  cloudflare-deployment/package-lock.json
  cloudflare-deployment/package.json
  cloudflare-deployment/src/CreativeThinkingMcpAgent.ts
  cloudflare-deployment/src/adapters/ExecutionAdapter.ts
  cloudflare-deployment/src/adapters/SessionAdapter.ts
  cloudflare-deployment/src/adapters/TechniqueAdapter.ts
  cloudflare-deployment/src/auth-handler.ts
  cloudflare-deployment/src/index.ts
  cloudflare-deployment/tsconfig.json
  cloudflare-deployment/wrangler.toml
Labels: documentation

Potential fix for code scanning alert no. 21: Insecure randomness
  cloudflare-deployment/src/adapters/SessionAdapter.ts
Labels: none

Potential fix for code scanning alert no. 20: Client-side cross-site scripting
  cloudflare-deployment/example-client.html
Labels: none

fix: address critical security vulnerabilities and improve error handling
  cloudflare-deployment/DEPLOYMENT.md
  cloudflare-deployment/SECURITY.md
  cloudflare-deployment/src/adapters/ExecutionAdapter.ts
  cloudflare-deployment/src/adapters/SessionAdapter.ts
  cloudflare-deployment/src/auth-handler.ts
  cloudflare-deployment/src/index.ts
  cloudflare-deployment/src/middleware/auth.ts
  cloudflare-deployment/src/middleware/rateLimiter.ts
  cloudflare-deployment/wrangler.toml
  eslint.config.js
Labels: documentation, config

Potential fix for code scanning alert no. 22: Information exposure through a stack trace
  cloudflare-deployment/src/index.ts
Labels: none

docs: consolidate documentation and remove redundant files
  README.md
  TECHNIQUE_SELECTION.md
  cloudflare-deployment/DEPLOYMENT.md
  cloudflare-deployment/README.md
  cloudflare-deployment/SECURITY.md
Labels: documentation
