Repository uddhav/creative-thinking, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, docker, techniques, config, build, security

.github/labeler.yml:

# Configuration for PR labeler action v5
# This file uses minimatch patterns: https://github.com/isaacs/minimatch

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'examples/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/__tests__/**/*'
      - 'vitest.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - '.npmignore'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.circleci/**/*'
      - '.travis.yml'
      - 'azure-pipelines.yml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

techniques:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/index.ts'
      - 'src/**/*technique*'
      - 'src/**/*lateral*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - 'tsconfig.*.json'
      - 'vitest.config.ts'
      - 'eslint.config.js'
      - '.eslintrc*'
      - '.prettierrc*'
      - '.prettierignore'
      - 'codecov.yml'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'dist/**/*'
      - 'tsconfig.json'
      - 'package.json'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'

fix: prevent array access vulnerabilities throughout codebase (#103)
  dist/ergodicity/escapeProtocols/calculator.d.ts.map
  dist/ergodicity/escapeProtocols/calculator.js
  dist/ergodicity/escapeProtocols/calculator.js.map
  dist/ergodicity/escapeProtocols/index.js
  dist/ergodicity/escapeProtocols/index.js.map
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/array-access-safety.test.ts
  src/__tests__/formatOutput-edge-cases.test.ts
  src/ergodicity/escapeProtocols/calculator.ts
  src/ergodicity/escapeProtocols/index.ts
  src/index.ts
Labels: tests, techniques, build

fix: improve array bounds checking test reliability
  src/__tests__/array-bounds-checking.test.ts
  src/index.ts
Labels: tests, techniques

feat: implement new option generation strategies for advanced thinking techniques
  CLAUDE.md
  dist/ergodicity/escapeProtocols/calculator.d.ts.map
  dist/ergodicity/escapeProtocols/calculator.js
  dist/ergodicity/escapeProtocols/calculator.js.map
  dist/ergodicity/optionGeneration/engine.d.ts.map
  dist/ergodicity/optionGeneration/engine.js
  dist/ergodicity/optionGeneration/engine.js.map
  dist/ergodicity/optionGeneration/strategies/collectiveDivergence.d.ts
  dist/ergodicity/optionGeneration/strategies/collectiveDivergence.d.ts.map
  dist/ergodicity/optionGeneration/strategies/collectiveDivergence.js
  dist/ergodicity/optionGeneration/strategies/collectiveDivergence.js.map
  dist/ergodicity/optionGeneration/strategies/culturalBridging.d.ts
  dist/ergodicity/optionGeneration/strategies/culturalBridging.d.ts.map
  dist/ergodicity/optionGeneration/strategies/culturalBridging.js
  dist/ergodicity/optionGeneration/strategies/culturalBridging.js.map
  dist/ergodicity/optionGeneration/strategies/neuralOptimization.d.ts
  dist/ergodicity/optionGeneration/strategies/neuralOptimization.d.ts.map
  dist/ergodicity/optionGeneration/strategies/neuralOptimization.js
  dist/ergodicity/optionGeneration/strategies/neuralOptimization.js.map
  dist/ergodicity/optionGeneration/strategies/temporalShifting.d.ts
  dist/ergodicity/optionGeneration/strategies/temporalShifting.d.ts.map
  dist/ergodicity/optionGeneration/strategies/temporalShifting.js
  dist/ergodicity/optionGeneration/strategies/temporalShifting.js.map
  dist/ergodicity/optionGeneration/types.d.ts
  dist/ergodicity/optionGeneration/types.d.ts.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/array-bounds-checking.test.ts
  src/__tests__/option-generation-new-strategies.test.ts
  src/__tests__/sequential-thinking-integration.test.ts
  src/ergodicity/optionGeneration/engine.ts
  src/ergodicity/optionGeneration/strategies/collectiveDivergence.ts
  src/ergodicity/optionGeneration/strategies/culturalBridging.ts
  src/ergodicity/optionGeneration/strategies/neuralOptimization.ts
  src/ergodicity/optionGeneration/strategies/temporalShifting.ts
  src/ergodicity/optionGeneration/types.ts
  src/index.ts
Labels: documentation, tests, techniques, build

chore: update dist files after lint formatting
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
Labels: build

fix: resolve TypeScript lint issues in array-bounds-checking tests
  src/__tests__/array-bounds-checking.test.ts
Labels: tests

feat: implement option generation strategies for new thinking techniques (#105)
  CLAUDE.md
  dist/ergodicity/escapeProtocols/calculator.d.ts.map
  dist/ergodicity/escapeProtocols/calculator.js
  dist/ergodicity/escapeProtocols/calculator.js.map
  dist/ergodicity/optionGeneration/engine.d.ts.map
  dist/ergodicity/optionGeneration/engine.js
  dist/ergodicity/optionGeneration/engine.js.map
  dist/ergodicity/optionGeneration/strategies/collectiveDivergence.d.ts
  dist/ergodicity/optionGeneration/strategies/collectiveDivergence.d.ts.map
  dist/ergodicity/optionGeneration/strategies/collectiveDivergence.js
  dist/ergodicity/optionGeneration/strategies/collectiveDivergence.js.map
  dist/ergodicity/optionGeneration/strategies/culturalBridging.d.ts
  dist/ergodicity/optionGeneration/strategies/culturalBridging.d.ts.map
  dist/ergodicity/optionGeneration/strategies/culturalBridging.js
  dist/ergodicity/optionGeneration/strategies/culturalBridging.js.map
  dist/ergodicity/optionGeneration/strategies/neuralOptimization.d.ts
  dist/ergodicity/optionGeneration/strategies/neuralOptimization.d.ts.map
  dist/ergodicity/optionGeneration/strategies/neuralOptimization.js
  dist/ergodicity/optionGeneration/strategies/neuralOptimization.js.map
  dist/ergodicity/optionGeneration/strategies/temporalShifting.d.ts
  dist/ergodicity/optionGeneration/strategies/temporalShifting.d.ts.map
  dist/ergodicity/optionGeneration/strategies/temporalShifting.js
  dist/ergodicity/optionGeneration/strategies/temporalShifting.js.map
  dist/ergodicity/optionGeneration/types.d.ts
  dist/ergodicity/optionGeneration/types.d.ts.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/__tests__/array-bounds-checking.test.ts
  src/__tests__/option-generation-new-strategies.test.ts
  src/__tests__/sequential-thinking-integration.test.ts
  src/ergodicity/optionGeneration/engine.ts
  src/ergodicity/optionGeneration/strategies/collectiveDivergence.ts
  src/ergodicity/optionGeneration/strategies/culturalBridging.ts
  src/ergodicity/optionGeneration/strategies/neuralOptimization.ts
  src/ergodicity/optionGeneration/strategies/temporalShifting.ts
  src/ergodicity/optionGeneration/types.ts
  src/index.ts
Labels: documentation, tests, techniques, build

feat: complete sequential thinking integration (closes #87, #104)
  README.md
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/index.ts
Labels: documentation, techniques, build

fix: resolve lint errors
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/index.ts
Labels: techniques, build

feat: implement intelligent complexity analysis with NLP
  dist/complexity/analyzer.d.ts
  dist/complexity/analyzer.d.ts.map
  dist/complexity/analyzer.js
  dist/complexity/analyzer.js.map
  dist/complexity/cache.d.ts
  dist/complexity/cache.d.ts.map
  dist/complexity/cache.js
  dist/complexity/cache.js.map
  dist/complexity/constants.d.ts
  dist/complexity/constants.d.ts.map
  dist/complexity/constants.js
  dist/complexity/constants.js.map
  dist/complexity/index.d.ts
  dist/complexity/index.d.ts.map
  dist/complexity/index.js
  dist/complexity/index.js.map
  dist/complexity/types.d.ts
  dist/complexity/types.d.ts.map
  dist/complexity/types.js
  dist/complexity/types.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
  src/complexity/__tests__/analyzer.test.ts
  src/complexity/__tests__/cache.test.ts
  src/complexity/analyzer.ts
  src/complexity/cache.ts
  src/complexity/constants.ts
  src/complexity/index.ts
  src/complexity/types.ts
  src/index.ts
Labels: tests, dependencies, techniques, build

fix: address all lint errors in complexity analyzer
  dist/complexity/analyzer.d.ts
  dist/complexity/analyzer.d.ts.map
  dist/complexity/analyzer.js
  dist/complexity/analyzer.js.map
  dist/complexity/cache.js
  dist/complexity/cache.js.map
  dist/complexity/constants.d.ts
  dist/complexity/constants.js
  dist/complexity/constants.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/complexity/__tests__/analyzer.test.ts
  src/complexity/__tests__/cache.test.ts
  src/complexity/analyzer.ts
  src/complexity/cache.ts
  src/complexity/constants.ts
  src/complexity/index.ts
  src/complexity/types.ts
  src/index.ts
Labels: tests, techniques, build

fix: address all lint errors and test failures
  src/__tests__/integration/performance.test.ts
Labels: tests

feat: implement sequential thinking integration (closes #87)
  README.md
  dist/complexity/analyzer.d.ts
  dist/complexity/analyzer.d.ts.map
  dist/complexity/analyzer.js
  dist/complexity/analyzer.js.map
  dist/complexity/cache.d.ts
  dist/complexity/cache.d.ts.map
  dist/complexity/cache.js
  dist/complexity/cache.js.map
  dist/complexity/constants.d.ts
  dist/complexity/constants.d.ts.map
  dist/complexity/constants.js
  dist/complexity/constants.js.map
  dist/complexity/index.d.ts
  dist/complexity/index.d.ts.map
  dist/complexity/index.js
  dist/complexity/index.js.map
  dist/complexity/types.d.ts
  dist/complexity/types.d.ts.map
  dist/complexity/types.js
  dist/complexity/types.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
  src/__tests__/integration/performance.test.ts
  src/complexity/__tests__/analyzer.test.ts
  src/complexity/__tests__/cache.test.ts
  src/complexity/analyzer.ts
  src/complexity/cache.ts
  src/complexity/constants.ts
  src/complexity/index.ts
  src/complexity/types.ts
  src/index.ts
Labels: documentation, tests, dependencies, techniques, build

style: fix prettier formatting issues
  src/__tests__/core/SessionManager.test.ts
  src/__tests__/ergodicity/earlyWarning/warningSystem.test.ts
  src/core/SessionManager.ts
  src/layers/execution.ts
  src/techniques/ScamperHandler.ts
Labels: tests

fix: replace Math.random() with crypto.randomUUID() for secure ID generation
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  dist/ergodicity/optionGeneration/strategies/base.d.ts.map
  dist/ergodicity/optionGeneration/strategies/base.js
  dist/ergodicity/optionGeneration/strategies/base.js.map
  dist/ergodicity/pathMemory.js
  dist/ergodicity/pathMemory.js.map
  dist/layers/execution.js.map
  dist/layers/planning.d.ts.map
  dist/layers/planning.js
  dist/layers/planning.js.map
  dist/techniques/ScamperHandler.d.ts.map
  dist/techniques/ScamperHandler.js.map
  src/ergodicity/optionGeneration/strategies/base.ts
  src/ergodicity/pathMemory.ts
  src/layers/planning.ts
Labels: build

fix: replace all remaining Math.random() with secure alternatives
  dist/ergodicity/earlyWarning/responseProtocols.d.ts.map
  dist/ergodicity/earlyWarning/responseProtocols.js
  dist/ergodicity/earlyWarning/responseProtocols.js.map
  dist/ergodicity/escapeProtocols/protocols.d.ts.map
  dist/ergodicity/escapeProtocols/protocols.js
  dist/ergodicity/escapeProtocols/protocols.js.map
  dist/ergodicity/optionGeneration/strategies/inversion.d.ts.map
  dist/ergodicity/optionGeneration/strategies/inversion.js
  dist/ergodicity/optionGeneration/strategies/inversion.js.map
  dist/utils/secureRandom.d.ts
  dist/utils/secureRandom.d.ts.map
  dist/utils/secureRandom.js
  dist/utils/secureRandom.js.map
  src/ergodicity/earlyWarning/responseProtocols.ts
  src/ergodicity/escapeProtocols/protocols.ts
  src/ergodicity/optionGeneration/strategies/inversion.ts
  src/utils/secureRandom.ts
Labels: build

refactor: standardize error handling across core components
  dist/core/MemoryManager.d.ts
  dist/core/MemoryManager.d.ts.map
  dist/core/MemoryManager.js
  dist/core/MemoryManager.js.map
  dist/core/SessionManager.d.ts
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  src/__tests__/core/SessionManager.test.ts
  src/__tests__/validation.test.ts
  src/core/MemoryManager.ts
  src/core/ResponseBuilder.ts
  src/core/SessionManager.ts
  src/core/ValidationStrategies.ts
  src/index.ts
  src/layers/execution.ts
Labels: tests, techniques, build

chore: remove empty dist files for secureRandom
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/layers/execution.d.ts
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/utils/secureRandom.d.ts
  dist/utils/secureRandom.d.ts.map
  dist/utils/secureRandom.js
  dist/utils/secureRandom.js.map
Labels: build

fix: make performance profiler test more deterministic
  src/__tests__/utils/PerformanceProfiler.test.ts
Labels: tests

style: fix formatting in PerformanceProfiler test
  src/__tests__/utils/PerformanceProfiler.test.ts
Labels: tests

fix: resolve PR lint issues and update test configurations
  eslint.config.js
  src/__tests__/helpers/integration.ts
  src/__tests__/integration/mcp-protocol-compliance.test.ts
  src/__tests__/integration/new-techniques.test.ts
  src/__tests__/integration/performance.test.ts
  src/__tests__/integration/persistence.test.ts
  src/__tests__/integration/workflows.test.ts
  src/core/SessionManager.ts
Labels: tests, techniques, config

test: update test expectations to match console.error usage
  src/__tests__/core/SessionManager.test.ts
  src/__tests__/sessionManagement.test.ts
Labels: tests

fix: make PerformanceProfiler test more robust
  src/__tests__/utils/PerformanceProfiler.test.ts
Labels: tests

style: fix prettier formatting in PerformanceProfiler test
  src/__tests__/utils/PerformanceProfiler.test.ts
Labels: tests

chore: remove unnecessary eslint-disable comments and rebuild dist
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  src/__tests__/core/SessionManager.test.ts
Labels: tests, build

feat: v0.3.1 improvements - workflow guidance, ruin risk analysis, and documentation
  CLAUDE.md
  README.md
  dist/core/ResponseBuilder.d.ts
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/ergodicity/prompts.d.ts.map
  dist/ergodicity/prompts.js
  dist/ergodicity/prompts.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/techniques/SixHatsHandler.d.ts.map
  dist/techniques/SixHatsHandler.js
  dist/techniques/SixHatsHandler.js.map
  src/__tests__/discovery-workflow-guidance.test.ts
  src/__tests__/integration/workflow-guidance-integration.test.ts
  src/__tests__/issues/issue-114-step-9999.test.ts
  src/core/ResponseBuilder.ts
  src/ergodicity/prompts.ts
  src/layers/execution.ts
  src/techniques/SixHatsHandler.ts
Labels: documentation, tests, build

fix: resolve lint errors in issue-114-step-9999.test.ts
  src/__tests__/issues/issue-114-step-9999.test.ts
Labels: tests

fix: address minor code review issues
  dist/core/ResponseBuilder.d.ts
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  src/core/ResponseBuilder.ts
  src/layers/execution.ts
Labels: build

feat: v0.3.1 improvements - workflow guidance, ruin risk analysis, and documentation (#118)
  CLAUDE.md
  README.md
  dist/core/ResponseBuilder.d.ts
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/ergodicity/prompts.d.ts.map
  dist/ergodicity/prompts.js
  dist/ergodicity/prompts.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/techniques/SixHatsHandler.d.ts.map
  dist/techniques/SixHatsHandler.js
  dist/techniques/SixHatsHandler.js.map
  src/__tests__/discovery-workflow-guidance.test.ts
  src/__tests__/integration/workflow-guidance-integration.test.ts
  src/__tests__/issues/issue-114-step-9999.test.ts
  src/core/ResponseBuilder.ts
  src/ergodicity/prompts.ts
  src/layers/execution.ts
  src/techniques/SixHatsHandler.ts
Labels: documentation, tests, build

fix: resolve all ESLint errors and warnings
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/ergodicity/metaLearning.d.ts
  dist/ergodicity/metaLearning.d.ts.map
  dist/ergodicity/metaLearning.js
  dist/ergodicity/metaLearning.js.map
  dist/ergodicity/riskDiscoveryPrompts.d.ts
  dist/ergodicity/riskDiscoveryPrompts.d.ts.map
  dist/ergodicity/riskDiscoveryPrompts.js
  dist/ergodicity/riskDiscoveryPrompts.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/techniques/TechniqueRegistry.d.ts.map
  dist/techniques/TechniqueRegistry.js
  dist/techniques/TechniqueRegistry.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/core/RuinRiskDiscovery.test.ts
  src/__tests__/ergodicity/metaLearning.test.ts
  src/__tests__/ergodicity/riskDiscoveryPrompts.test.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/riskDiscoveryIntegration.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/layered-tools.test.ts
  src/__tests__/llm-workflow-validation.test.ts
  src/__tests__/techniques/outOfBoundsHandling.test.ts
  src/core/ResponseBuilder.ts
  src/core/RuinRiskDiscovery.ts
  src/ergodicity/metaLearning.ts
  src/ergodicity/riskDiscoveryPrompts.ts
  src/layers/execution.ts
  src/techniques/TechniqueRegistry.ts
  src/types/index.ts
Labels: tests, build

fix: resolve all ESLint errors and warnings (#121)
  dist/core/ResponseBuilder.d.ts.map
  dist/core/ResponseBuilder.js
  dist/core/ResponseBuilder.js.map
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/ergodicity/metaLearning.d.ts
  dist/ergodicity/metaLearning.d.ts.map
  dist/ergodicity/metaLearning.js
  dist/ergodicity/metaLearning.js.map
  dist/ergodicity/riskDiscoveryPrompts.d.ts
  dist/ergodicity/riskDiscoveryPrompts.d.ts.map
  dist/ergodicity/riskDiscoveryPrompts.js
  dist/ergodicity/riskDiscoveryPrompts.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/techniques/TechniqueRegistry.d.ts.map
  dist/techniques/TechniqueRegistry.js
  dist/techniques/TechniqueRegistry.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/core/RuinRiskDiscovery.test.ts
  src/__tests__/ergodicity/metaLearning.test.ts
  src/__tests__/ergodicity/riskDiscoveryPrompts.test.ts
  src/__tests__/integration/mcp-protocol.test.ts
  src/__tests__/integration/riskDiscoveryIntegration.test.ts
  src/__tests__/integration/three-layer-architecture.test.ts
  src/__tests__/layered-tools.test.ts
  src/__tests__/llm-workflow-validation.test.ts
  src/__tests__/techniques/outOfBoundsHandling.test.ts
  src/core/ResponseBuilder.ts
  src/core/RuinRiskDiscovery.ts
  src/ergodicity/metaLearning.ts
  src/ergodicity/riskDiscoveryPrompts.ts
  src/layers/execution.ts
  src/techniques/TechniqueRegistry.ts
  src/types/index.ts
Labels: tests, build

feat: enhance domain inference with NLP and generic risk extraction
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/errors/types.d.ts
  dist/errors/types.d.ts.map
  dist/errors/types.js
  dist/errors/types.js.map
  dist/layers/discovery.d.ts.map
  dist/layers/discovery.js
  dist/layers/discovery.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/types/planning.d.ts
  dist/types/planning.d.ts.map
  src/__tests__/core/RuinRiskDiscovery.test.ts
  src/__tests__/core/generic-risk-features.test.ts
  src/__tests__/integration/performance.test.ts
  src/core/RuinRiskDiscovery.ts
  src/errors/types.ts
  src/layers/discovery.ts
  src/layers/execution.ts
  src/types/planning.ts
Labels: tests, build

refactor: remove all hardcoded domain detection for generic risk assessment
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/ergodicity/prompts.d.ts
  dist/ergodicity/prompts.d.ts.map
  dist/ergodicity/prompts.js
  dist/ergodicity/prompts.js.map
  dist/ergodicity/riskDiscoveryPrompts.d.ts.map
  dist/ergodicity/riskDiscoveryPrompts.js
  dist/ergodicity/riskDiscoveryPrompts.js.map
  dist/layers/discovery.js
  dist/layers/discovery.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/reality/index.d.ts.map
  dist/reality/index.js
  dist/reality/index.js.map
  dist/reality/integration.d.ts
  dist/reality/integration.d.ts.map
  dist/reality/integration.js
  dist/reality/integration.js.map
  src/__tests__/ergodicity/ergodicityPrompts.test.ts
  src/__tests__/ergodicity/riskDiscoveryPrompts.test.ts
  src/__tests__/reality-assessment.test.ts
  src/core/RuinRiskDiscovery.ts
  src/ergodicity/prompts.ts
  src/ergodicity/riskDiscoveryPrompts.ts
  src/layers/discovery.ts
  src/layers/execution.ts
  src/reality/index.ts
  src/reality/integration.ts
Labels: tests, build

refactor: use Compromise NLP instead of skip word approach in extractDomainFromResponse
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  src/core/RuinRiskDiscovery.ts
Labels: build

fix: properly use risk indicators and remove unused domain inference
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/layers/discovery.d.ts.map
  dist/layers/discovery.js
  dist/layers/discovery.js.map
  dist/reality/integration.d.ts.map
  dist/reality/integration.js
  dist/reality/integration.js.map
  src/__tests__/reality-assessment.test.ts
  src/core/RuinRiskDiscovery.ts
  src/layers/discovery.ts
  src/reality/integration.ts
Labels: tests, build

fix: address PR review feedback - improve type safety and code quality
  dist/core/RuinRiskDiscovery.d.ts
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/core/nlp-types.d.ts
  dist/core/nlp-types.d.ts.map
  dist/core/nlp-types.js
  dist/core/nlp-types.js.map
  src/core/RuinRiskDiscovery.ts
  src/core/nlp-types.ts
Labels: build

fix: critical security vulnerabilities and code quality issues
  dist/core/MemoryManager.d.ts.map
  dist/core/MemoryManager.js
  dist/core/MemoryManager.js.map
  dist/core/RuinRiskDiscovery.d.ts.map
  dist/core/RuinRiskDiscovery.js
  dist/core/RuinRiskDiscovery.js.map
  dist/index.js
  dist/index.js.map
  dist/persistence/filesystem-adapter.d.ts.map
  dist/persistence/filesystem-adapter.js
  dist/persistence/filesystem-adapter.js.map
  src/__tests__/core/regex-security.test.ts
  src/__tests__/persistence/filesystem-adapter.test.ts
  src/core/MemoryManager.ts
  src/core/RuinRiskDiscovery.ts
  src/core/nlp-types.ts
  src/index.ts
  src/persistence/filesystem-adapter.ts
Labels: tests, techniques, build

fix: remove unused import in regex security test
  src/__tests__/core/regex-security.test.ts
  src/__tests__/persistence/filesystem-adapter.test.ts
Labels: tests

fix: improve autoSave error handling and prevent race conditions
  .creative-thinking/metadata/session_04c621e2-e995-4e9f-a806-f3944bab7e14.json
  .creative-thinking/metadata/session_47e50ea0-82c8-46c9-b737-08df5d9db7bb.json
  .creative-thinking/metadata/session_5064665a-159d-493a-a286-9ea11c2386b6.json
  .creative-thinking/metadata/session_66223395-06d1-494a-82fb-f5d65cc9be47.json
  .creative-thinking/metadata/session_test123.json
  .creative-thinking/sessions/session_04c621e2-e995-4e9f-a806-f3944bab7e14.json
  .creative-thinking/sessions/session_47e50ea0-82c8-46c9-b737-08df5d9db7bb.json
  .creative-thinking/sessions/session_5064665a-159d-493a-a286-9ea11c2386b6.json
  .creative-thinking/sessions/session_66223395-06d1-494a-82fb-f5d65cc9be47.json
  .creative-thinking/sessions/session_test123.json
  CLAUDE.md
  dist/core/SessionManager.d.ts
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  src/__tests__/integration/autosave-behavior.test.ts
  src/__tests__/validation.test.ts
  src/core/SessionManager.ts
  src/layers/execution.ts
Labels: documentation, tests, build

fix: improve autoSave error handling and prevent race conditions (#123)
  .creative-thinking/metadata/session_04c621e2-e995-4e9f-a806-f3944bab7e14.json
  .creative-thinking/metadata/session_47e50ea0-82c8-46c9-b737-08df5d9db7bb.json
  .creative-thinking/metadata/session_5064665a-159d-493a-a286-9ea11c2386b6.json
  .creative-thinking/metadata/session_66223395-06d1-494a-82fb-f5d65cc9be47.json
  .creative-thinking/metadata/session_test123.json
  .creative-thinking/sessions/session_04c621e2-e995-4e9f-a806-f3944bab7e14.json
  .creative-thinking/sessions/session_47e50ea0-82c8-46c9-b737-08df5d9db7bb.json
  .creative-thinking/sessions/session_5064665a-159d-493a-a286-9ea11c2386b6.json
  .creative-thinking/sessions/session_66223395-06d1-494a-82fb-f5d65cc9be47.json
  .creative-thinking/sessions/session_test123.json
  CLAUDE.md
  dist/core/SessionManager.d.ts
  dist/core/SessionManager.d.ts.map
  dist/core/SessionManager.js
  dist/core/SessionManager.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  src/__tests__/integration/autosave-behavior.test.ts
  src/__tests__/validation.test.ts
  src/core/SessionManager.ts
  src/layers/execution.ts
Labels: documentation, tests, build

fix: prevent risk dismissal escalation for non-risky scenarios
  dist/ergodicity/escalationPrompts.d.ts
  dist/ergodicity/escalationPrompts.d.ts.map
  dist/ergodicity/escalationPrompts.js
  dist/ergodicity/escalationPrompts.js.map
  dist/ergodicity/index.d.ts
  dist/ergodicity/index.d.ts.map
  dist/ergodicity/index.js
  dist/ergodicity/index.js.map
  dist/ergodicity/riskDismissalTracker.d.ts
  dist/ergodicity/riskDismissalTracker.d.ts.map
  dist/ergodicity/riskDismissalTracker.js
  dist/ergodicity/riskDismissalTracker.js.map
  dist/ergodicity/stakesDiscovery.d.ts
  dist/ergodicity/stakesDiscovery.d.ts.map
  dist/ergodicity/stakesDiscovery.js
  dist/ergodicity/stakesDiscovery.js.map
  dist/layers/execution.d.ts.map
  dist/layers/execution.js
  dist/layers/execution.js.map
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  src/__tests__/ergodicity/escalation.test.ts
  src/__tests__/integration/option-generation-integration.test.ts
  src/__tests__/integration/riskDiscoveryIntegration.test.ts
  src/ergodicity/escalationPrompts.ts
  src/ergodicity/index.ts
  src/ergodicity/riskDismissalTracker.ts
  src/ergodicity/stakesDiscovery.ts
  src/layers/execution.ts
  src/types/index.ts
Labels: tests, build
